---
http_interactions:
- request:
    method: get
    uri: https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/123456
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - GoogleLogin auth=DQAAAPYAAADj5zoZZ3t5AZRorhzLsXho-qCbh06Mbcgrx13oGvW1BGYrGQq44CCuVC0Gv0eB4g3serxiIo42LN-hTtwxtU_M0hcviQvfHWS9pCJ3fqQibGRSCPr-GkLPr2gODuYNAWdTFdnq25L9RIKwT6cDMfN1RiSvA9QBZgM6nhb0zYENUTewD22Qv1XCRmMakdw5yGn2muWY2wgIlX4Gr4OOEpBjthcQhcbH7ifpvxJhYZOfLrMXukMrFvkUOiz7-SbRjQhyye9D1IkZh-QQXD0HXjI7ewp8UR47i-UGig_CIm_dJbu6P1CJc9f4d_tgs51foGOBa7u51OenXo1APMFi7bUB
      Content-Type:
      - application/atom+xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8
      Gdata-Version:
      - '1.0'
      Last-Modified:
      - Tue, 02 Apr 2013 06:16:46 GMT
    body:
      encoding: US-ASCII
      string: <?xml version='1.0' encoding='UTF-8'?><entry xmlns='http://www.w3.org/2005/Atom'
        xmlns:apps='http://schemas.google.com/apps/2006'><id>https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/123456</id><updated>2013-04-02T06:16:46.153Z</updated><link
        rel='self' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/123456'/><link
        rel='edit' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/123456'/><apps:property
        name='resourceId' value='123456'/><apps:property name='resourceCommonName'
        value='Fortress of evil'/><apps:property name='resourceEmail' value='<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com'/><apps:property
        name='resourceDescription' value='Where evil things are done'/><apps:property
        name='resourceType' value='Meeting Room'/></entry>
  recorded_at: Tue, 02 Apr 2013 06:16:47 GMT
- request:
    method: put
    uri: https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/123456
    body:
      encoding: US-ASCII
      string: ! "<atom:entry xmlns:atom='http://www.w3.org/2005/Atom'>\n    <apps:property
        xmlns:apps='http://schemas.google.com/apps/2006' name='resourceDescription'
        value='Where evil things are not done - honest!'/>\n</atom:entry>"
    headers:
      Authorization:
      - GoogleLogin auth=DQAAAPYAAADj5zoZZ3t5AZRorhzLsXho-qCbh06Mbcgrx13oGvW1BGYrGQq44CCuVC0Gv0eB4g3serxiIo42LN-hTtwxtU_M0hcviQvfHWS9pCJ3fqQibGRSCPr-GkLPr2gODuYNAWdTFdnq25L9RIKwT6cDMfN1RiSvA9QBZgM6nhb0zYENUTewD22Qv1XCRmMakdw5yGn2muWY2wgIlX4Gr4OO[...]
- request:
    method: post
    uri: https://www.google.com/accounts/ClientLogin
    body:
      encoding: US-ASCII
      string: accountType=HOSTED_OR_GOOGLE&Email=oditech%40<GAPPS_DOMAIN_NAME>&Passwd=<GAPPS_PASSWORD>&service=apps&source=odi-officecalendar-0.1
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: US-ASCII
      string: ! '<KEY>

'
  recorded_at: Tue, 02 Apr 2013 06:16:49 GMT
- request:
    method: get
    uri: https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - GoogleLogin auth=DQAAAPYAAABZIZj8m9TG6sMJOkDf5fjvrVwhYqC4iJyzqTOF-a-nmsv2NhjsEFISBlEaP2fWcGg86YJszRXMGfSCr0DpLGHNd3d1rviBeIfVC8PeVzVJaTNn0LiZvc7CeliXIq5ASb2sfCEG7hcoP6RyiZtFV5U_V7UkWQR6djF80FK5cqK857iJ2ZNFIcCclZxsaFaT7mR7HRYsUR0wGa4o7M1wPkR6r0NFVeLtEeQi-jk8Jlkw8rQVjDO2zSxpFGmieTfMwWd44VknPqQDqmLWTjimKGST2pJVODBzqSNyCVEFyJDubmM6Aze4QUJim_wcsP312Ix4cyHZEf0m41zBP7xa6Yp0
      Content-Type:
      - application/atom+xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8
      Gdata-Version:
      - '1.0'
      Last-Modified:
      - Tue, 02 Apr 2013 06:16:49 GMT
    body:
      encoding: US-ASCII
      string: <?xml version='1.0' encoding='UTF-8'?><feed xmlns='http://www.w3.org/2005/Atom'
        xmlns:openSearch='http://a9.com/-/spec/opensearchrss/1.0/' xmlns:apps='http://schemas.google.com/apps/2006'><id>https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME></id><updated>2013-04-02T06:16:49.355Z</updated><link
        rel='http://schemas.google.com/g/2005#feed' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>'/><link
        rel='http://schemas.google.com/g/2005#post' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>'/><link
        rel='self' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>'/><openSearch:startIndex>1</openSearch:startIndex><entry><id>https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/123456</id><updated>2013-04-02T06:16:49.355Z</updated><link
        rel='self' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/123456'/><link
        rel='edit' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/123456'/><apps:property
        name='resourceId' value='123456'/><apps:property name='resourceCommonName'
        value='Fortress of evil'/><apps:property name='resourceEmail' value='<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com'/><apps:property
        name='resourceDescription' value='Where evil things are not done - honest!'/><apps:property
        name='resourceType' value='Meeting Room'/></entry></feed>
  recorded_at: Tue, 02 Apr 2013 06:16:50 GMT
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/calendars/<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com/events?timeZone=Europe/London
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 1/3lGpySrCC8tE5KfPIuUYlTSOzvmuFlCWaP0_xQh8L2U
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"AqtoNyKo3lU98az21po-fy8rWgE/F-YIHTx_DEWDy09DWNIe4q403SE"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n \"kind\": \"calendar#events\",\n \"etag\": \"\\\"AqtoNyKo3lU98az21po-fy8rWgE/F-YIHTx_DEWDy09DWNIe4q403SE\\\"\",\n
        \"summary\": \"Fortress of evil\",\n \"updated\": \"2013-04-02T06:16:42.302Z\",\n
        \"timeZone\": \"America/Los_Angeles\"\n}\n"
  recorded_at: Tue, 02 Apr 2013 06:16:51 GMT
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/calendars/<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com/events?timeZone=Europe/London
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 1/3lGpySrCC8tE5KfPIuUYlTSOzvmuFlCWaP0_xQh8L2U
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"AqtoNyKo3lU98az21po-fy8rWgE/t79rwG6u5RyzsVjKDbjfgejcKX0"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n \"kind\": \"calendar#events\",\n \"etag\": \"\\\"AqtoNyKo3lU98az21po-fy8rWgE/t79rwG6u5RyzsVjKDbjfgejcKX0\\\"\",\n
        \"summary\": \"Fortress of evil\",\n \"updated\": \"2013-04-02T06:16:41.000Z\",\n
        \"timeZone\": \"America/Los_Angeles\"\n}\n"
  recorded_at: Tue, 02 Apr 2013 06:16:52 GMT
recorded_with: VCR 2.4.0
