---
http_interactions:
- request:
    method: get
    uri: https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/123456
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - GoogleLogin auth=DQAAAPYAAAAFFOnYNjQ8JvatcBkqDGd98eiL9leuuyZN_-jO94YcnXIsfo29P1coI7W7BJaP_D7yk4xIA8M_fxgbbhVmh4FGSFAE7vCY5kIfr21J5ht6vLfZXFcRPIcUbr1W3Aev-ORWNCAhnXAQSSrBGR2-c8ZMcAt8wcDwggSzXUsA0ohHilLKsdBFxH_mff3U_iFaPhqk-N8KQjQl6BVUGgQuZhAcwANM3GVSYzXP2zK1zaq8_yJVuTopAHwGDvvIsW0CkI58NwPAQ9js4p1HfadJnk5Xex0JyGGH9m3Ib9GNj1bGsWY_Tz-o7lFVcm4A2WNOyftIjCKCJzEh2ZR0j1oRbUwr
      Content-Type:
      - application/atom+xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8
      Gdata-Version:
      - '1.0'
      Last-Modified:
      - Thu, 04 Apr 2013 13:45:58 GMT
    body:
      encoding: US-ASCII
      string: <?xml version='1.0' encoding='UTF-8'?><entry xmlns='http://www.w3.org/2005/Atom'
        xmlns:apps='http://schemas.google.com/apps/2006'><id>https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/123456</id><updated>2013-04-04T13:45:58.219Z</updated><link
        rel='self' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/123456'/><link
        rel='edit' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/123456'/><apps:property
        name='resourceId' value='123456'/><apps:property name='resourceCommonName'
        value='Fortress of evil'/><apps:property name='resourceEmail' value='<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com'/><apps:property
        name='resourceDescription' value='Where evil things are done'/><apps:property
        name='resourceType' value='Meeting Room'/></entry>
  recorded_at: Thu, 04 Apr 2013 13:45:57 GMT
- request:
    method: put
    uri: https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/123456
    body:
      encoding: US-ASCII
      string: ! "<atom:entry xmlns:atom='http://www.w3.org/2005/Atom'>\n    <apps:property
        xmlns:apps='http://schemas.google.com/apps/2006' name='resourceDescription'
        value='Where evil things are not done - honest!'/>\n</atom:entry>"
    headers:
      Authorization:
      - GoogleLogin auth=DQAAAPYAAAAFFOnYNjQ8JvatcBkqDGd98eiL9leuuyZN_-jO94YcnXIsfo29P1coI7W7BJaP_D7yk4xIA8M_fxgbbhVmh4FGSFAE7vCY5kIfr21J5ht6vLfZXFcRPIcUbr1W3Aev-ORWNCAhnXAQSSrBGR2-c8ZMcAt8wcDwggSzXUsA0ohHilLKsdBFxH_mff3U_iFaPhqk-N8KQjQl6BVUGgQu[...]
- request:
    method: post
    uri: https://www.google.com/accounts/ClientLogin
    body:
      encoding: US-ASCII
      string: accountType=HOSTED_OR_GOOGLE&Email=oditech%40<GAPPS_DOMAIN_NAME>&Passwd=<GAPPS_PASSWORD>&service=apps&source=odi-officecalendar-0.1
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: US-ASCII
      string: ! '<KEY>

'
  recorded_at: Thu, 04 Apr 2013 13:45:59 GMT
- request:
    method: get
    uri: https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - GoogleLogin auth=DQAAAPYAAAB-9fhWqzjnqxXRckMG_pQ5xVKczClozTs7kmEyN2mQJzBBoGUV-fF9wt2ZbinWQ4OVCPKF_nniaz73Budj_hOK2LuIlSj_ivjVc3fjte_xSA7nW19dy2jn5FHhk9fmnkp5eVIW4Jjhsn-LqJp3652btStyHHNRUHvjwUEF8__SPgkxhYri6CncUcMEhz4lTehycfKipj3Bx_96fGZ-BRKH4KaoiGmVMsheyQcMhW63YBtOycpXL4VEhyyBCv3PjNd9wNDG0LJUdMB7Bb9-oNpGe10bZkFFDEOATfQq6cjxVOgIEfdOYdclT0nuVcLEwxJ8znpVAvRvLGs6xoQxj5OP
      Content-Type:
      - application/atom+xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8
      Gdata-Version:
      - '1.0'
      Last-Modified:
      - Thu, 04 Apr 2013 13:46:00 GMT
    body:
      encoding: US-ASCII
      string: <?xml version='1.0' encoding='UTF-8'?><feed xmlns='http://www.w3.org/2005/Atom'
        xmlns:openSearch='http://a9.com/-/spec/opensearchrss/1.0/' xmlns:apps='http://schemas.google.com/apps/2006'><id>https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME></id><updated>2013-04-04T13:46:00.102Z</updated><link
        rel='http://schemas.google.com/g/2005#feed' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>'/><link
        rel='http://schemas.google.com/g/2005#post' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>'/><link
        rel='self' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>'/><openSearch:startIndex>1</openSearch:startIndex><entry><id>https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/123456</id><updated>2013-04-04T13:46:00.102Z</updated><link
        rel='self' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/123456'/><link
        rel='edit' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/123456'/><apps:property
        name='resourceId' value='123456'/><apps:property name='resourceCommonName'
        value='Fortress of evil'/><apps:property name='resourceEmail' value='<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com'/><apps:property
        name='resourceDescription' value='Where evil things are not done - honest!'/><apps:property
        name='resourceType' value='Meeting Room'/></entry></feed>
  recorded_at: Thu, 04 Apr 2013 13:45:59 GMT
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/calendars/<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com/events?timeZone=Europe/London
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 1/Q0nCIpG52C_KPrVmImsRW5eNqKtb_OA7FTdNo2DvcqE
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"AqtoNyKo3lU98az21po-fy8rWgE/ZvyJ0nEENonzeZ695Ts399vLWyg"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n \"kind\": \"calendar#events\",\n \"etag\": \"\\\"AqtoNyKo3lU98az21po-fy8rWgE/ZvyJ0nEENonzeZ695Ts399vLWyg\\\"\",\n
        \"summary\": \"Fortress of evil\",\n \"updated\": \"2013-04-04T13:45:55.000Z\",\n
        \"timeZone\": \"America/Los_Angeles\"\n}\n"
  recorded_at: Thu, 04 Apr 2013 13:46:00 GMT
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/calendars/<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com/events?timeZone=Europe/London
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 1/Q0nCIpG52C_KPrVmImsRW5eNqKtb_OA7FTdNo2DvcqE
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"AqtoNyKo3lU98az21po-fy8rWgE/CR6n0bQph4GrE4DSMTRvBi9J2e0"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n \"kind\": \"calendar#events\",\n \"etag\": \"\\\"AqtoNyKo3lU98az21po-fy8rWgE/CR6n0bQph4GrE4DSMTRvBi9J2e0\\\"\",\n
        \"summary\": \"Fortress of evil\",\n \"updated\": \"2013-04-04T13:45:55.000Z\",\n
        \"timeZone\": \"America/Los_Angeles\"\n}\n"
  recorded_at: Thu, 04 Apr 2013 13:46:00 GMT
recorded_with: VCR 2.4.0
