---
http_interactions:
- request:
    method: get
    uri: https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/123456
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - GoogleLogin auth=DQAAAPYAAABjXnKjW5bvphJDY5KvrUIG6zwmRdAi_dv7x5zfTyunoCdAnqtRQ0AuWiaTof2sOfwZx70_Iz429lJqkfuOt8GJo6aXHgDuJxt7m4Uq5gpaN83FX0n6OC1dm7pgwh-Ij4rlp7dF6i6_3Uyj0uDXnlQE14dz0_6VAswAUuh-YKC26_NRzhHQNOUVRRhVRFL9bHP-LAFdqBhmV2m4IXSBx0Lir1amCMleTltLYWODcytmnSQbWNmTr70HpOOCOQPca1epRwF-QBuJq8npfxLN80K7TH6GXmJS5tEEr0M70PjvsY4mvevN6dtjtVDtven8ZLMgl8hfU3Kqa7wsZnAo6qMo
      Content-Type:
      - application/atom+xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8
      Gdata-Version:
      - '1.0'
      Last-Modified:
      - Thu, 28 Mar 2013 18:26:00 GMT
    body:
      encoding: US-ASCII
      string: <?xml version='1.0' encoding='UTF-8'?><entry xmlns='http://www.w3.org/2005/Atom'
        xmlns:apps='http://schemas.google.com/apps/2006'><id>https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/123456</id><updated>2013-03-28T18:26:00.832Z</updated><link
        rel='self' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/123456'/><link
        rel='edit' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/123456'/><apps:property
        name='resourceId' value='123456'/><apps:property name='resourceCommonName'
        value='Fortress of evil'/><apps:property name='resourceEmail' value='<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com'/><apps:property
        name='resourceDescription' value='Where evil things are done'/><apps:property
        name='resourceType' value='Meeting Room'/></entry>
  recorded_at: Thu, 28 Mar 2013 18:26:01 GMT
- request:
    method: put
    uri: https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/123456
    body:
      encoding: US-ASCII
      string: ! "<atom:entry xmlns:atom='http://www.w3.org/2005/Atom'>\n    <apps:property
        xmlns:apps='http://schemas.google.com/apps/2006' name='resourceDescription'
        value='Where evil things are not done - honest!'/>\n</atom:entry>"
    headers:
      Authorization:
      - GoogleLogin auth=DQAAAPYAAABjXnKjW5bvphJDY5KvrUIG6zwmRdAi_dv7x5zfTyunoCdAnqtRQ0AuWiaTof2sOfwZx70_Iz429lJqkfuOt8GJo6aXHgDuJxt7m4Uq5gpaN83FX0n6OC1dm7pgwh-Ij4rlp7dF6i6_3Uyj0uDXnlQE14dz0_6VAswAUuh-YKC26_NRzhHQNOUVRRhVRFL9bHP-LAFdqBhmV2m4IXSB[...]
- request:
    method: post
    uri: https://www.google.com/accounts/ClientLogin
    body:
      encoding: US-ASCII
      string: accountType=HOSTED_OR_GOOGLE&Email=oditech%40<GAPPS_DOMAIN_NAME>&Passwd=<GAPPS_PASSWORD>&service=apps&source=odi-officecalendar-0.1
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: US-ASCII
      string: ! '<KEY>

'
  recorded_at: Thu, 28 Mar 2013 18:26:03 GMT
- request:
    method: get
    uri: https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - GoogleLogin auth=DQAAAPcAAAD69X9HA3mj2hKNZwwX-Woj12E6jEwanhz8jC-mqvJl7iA6zXcSmTh-OgQ-iHHM_oXJq1uREEi6hPwJIy-7mekGCvtRFFIjd3o3tLkAfAJVI_8yiHCo_zS3z2Nwowd2wwf9gL9dhXst3npAyM8Ike0cbT1WaM93EJ29Rqa3OC9S0Z_3PcEEs__q8PUQIGArLqPyBYryEW7Ulp6NxfgsqpqdsBt0gJs6rXj3LS-lBfqIioGAuc6li0HvI00dK0bhYIp3lxubHYb75Wet4SFjZxVG8eMcOdAxgG_U_7DjMnUE_ndX_CfPuPTzq4BVk49yDSwkJCZEFpkuLJ0myugPy8pa
      Content-Type:
      - application/atom+xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8
      Gdata-Version:
      - '1.0'
      Last-Modified:
      - Thu, 28 Mar 2013 18:26:04 GMT
    body:
      encoding: US-ASCII
      string: <?xml version='1.0' encoding='UTF-8'?><feed xmlns='http://www.w3.org/2005/Atom'
        xmlns:openSearch='http://a9.com/-/spec/opensearchrss/1.0/' xmlns:apps='http://schemas.google.com/apps/2006'><id>https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME></id><updated>2013-03-28T18:26:04.197Z</updated><link
        rel='http://schemas.google.com/g/2005#feed' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>'/><link
        rel='http://schemas.google.com/g/2005#post' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>'/><link
        rel='self' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>'/><openSearch:startIndex>1</openSearch:startIndex><entry><id>https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/123456</id><updated>2013-03-28T18:26:04.197Z</updated><link
        rel='self' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/123456'/><link
        rel='edit' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/123456'/><apps:property
        name='resourceId' value='123456'/><apps:property name='resourceCommonName'
        value='Fortress of evil'/><apps:property name='resourceEmail' value='<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com'/><apps:property
        name='resourceDescription' value='Where evil things are not done - honest!'/><apps:property
        name='resourceType' value='Meeting Room'/></entry></feed>
  recorded_at: Thu, 28 Mar 2013 18:26:04 GMT
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/calendars/<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com/events?timeZone=Europe/London
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 1/ea49rrjH4Kpd8xpXi2EDafbFiEQNuFFN0vbroRX-HIQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"AqtoNyKo3lU98az21po-fy8rWgE/VgjVam7iX_SSkwYucV5kopMT6tQ"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n \"kind\": \"calendar#events\",\n \"etag\": \"\\\"AqtoNyKo3lU98az21po-fy8rWgE/VgjVam7iX_SSkwYucV5kopMT6tQ\\\"\",\n
        \"summary\": \"Fortress of evil\",\n \"updated\": \"2013-03-28T18:25:59.096Z\",\n
        \"timeZone\": \"America/Los_Angeles\"\n}\n"
  recorded_at: Thu, 28 Mar 2013 18:26:05 GMT
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/calendars/<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com/events?timeZone=Europe/London
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 1/ea49rrjH4Kpd8xpXi2EDafbFiEQNuFFN0vbroRX-HIQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"AqtoNyKo3lU98az21po-fy8rWgE/VgjVam7iX_SSkwYucV5kopMT6tQ"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n \"kind\": \"calendar#events\",\n \"etag\": \"\\\"AqtoNyKo3lU98az21po-fy8rWgE/VgjVam7iX_SSkwYucV5kopMT6tQ\\\"\",\n
        \"summary\": \"Fortress of evil\",\n \"updated\": \"2013-03-28T18:25:59.096Z\",\n
        \"timeZone\": \"America/Los_Angeles\"\n}\n"
  recorded_at: Thu, 28 Mar 2013 18:26:06 GMT
recorded_with: VCR 2.4.0
