# Set up as per instructions at https://developers.google.com/drive/delegation
GAPPS_DOMAIN_NAME=''
GAPPS_USER_EMAIL=''
GAPPS_PASSWORD=''
GAPPS_SERVICE_ACCOUNT_EMAIL=''
GAPPS_PRIVATE_KEY_PATH=''

RESQUE_REDIS_HOST=''
RESQUE_REDIS_PASSWORD=''