<script>

	$(document).ready(function() {
	
		$('#calendar').fullCalendar({
		
			events: '<%= @bookable.calendar_xml %>',
			
			eventClick: function(event) {
				// opens events in a popup window
				window.open(event.url, 'gcalevent', 'width=700,height=600');
				return false;
			},
			
			loading: function(bool) {
				if (bool) {
					$('#loading').show();
				}else{
					$('#loading').hide();
				}
			}
			
		});
		
	});

</script>

<h2><%= @bookable.name %></h2>

<div id="feeds">
  <a href="<%= @bookable.calendar_xml %>" class="label label-xml">XML</a>
  <a href="<%= @bookable.calendar_ical %>" class="label label-ical">ICAL</a>
</div>

<div id='loading' style='display:none'>loading...</div>
<div id='calendar'></div>