---
http_interactions:
- request:
    method: delete
    uri: https://www.googleapis.com/calendar/v3/calendars/<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com/events/qosdqfaaceu556m5tu0ie5dmck
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 1/Icf26_DTVY7uvLSRrT4PkEcZeO0_-Sde0vmPKfFgBMs
  response:
    status:
      code: 204
      message: No Content
    headers:
      Etag:
      - ! '"AqtoNyKo3lU98az21po-fy8rWgE/vyGp6PvFo4RvsFtPoIWeCReyIC8"'
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Thu, 28 Mar 2013 18:25:08 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/calendar/v3/calendars/<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com/events/pvp9qf9la31prenfusck0doi8k
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 1/Icf26_DTVY7uvLSRrT4PkEcZeO0_-Sde0vmPKfFgBMs
  response:
    status:
      code: 204
      message: No Content
    headers:
      Etag:
      - ! '"AqtoNyKo3lU98az21po-fy8rWgE/vyGp6PvFo4RvsFtPoIWeCReyIC8"'
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Thu, 28 Mar 2013 18:25:18 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/calendar/v3/calendars/<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com/events/qc0nl2iuhhl5sj1ts6db1u3psg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 1/Icf26_DTVY7uvLSRrT4PkEcZeO0_-Sde0vmPKfFgBMs
  response:
    status:
      code: 204
      message: No Content
    headers:
      Etag:
      - ! '"AqtoNyKo3lU98az21po-fy8rWgE/vyGp6PvFo4RvsFtPoIWeCReyIC8"'
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Thu, 28 Mar 2013 18:25:33 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/calendar/v3/calendars/<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com/events/bq6m3dmt72048ligsvln2ja5mo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 1/ea49rrjH4Kpd8xpXi2EDafbFiEQNuFFN0vbroRX-HIQ
  response:
    status:
      code: 204
      message: No Content
    headers:
      Etag:
      - ! '"AqtoNyKo3lU98az21po-fy8rWgE/vyGp6PvFo4RvsFtPoIWeCReyIC8"'
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Thu, 28 Mar 2013 18:26:25 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/calendar/v3/calendars/<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com/events/k3usja1qgh97c5clbvvi2oma38
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 1/ea49rrjH4Kpd8xpXi2EDafbFiEQNuFFN0vbroRX-HIQ
  response:
    status:
      code: 204
      message: No Content
    headers:
      Etag:
      - ! '"AqtoNyKo3lU98az21po-fy8rWgE/vyGp6PvFo4RvsFtPoIWeCReyIC8"'
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Thu, 28 Mar 2013 18:26:37 GMT
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/calendars/<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com/events?timeZone=Europe/London
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 1/ea49rrjH4Kpd8xpXi2EDafbFiEQNuFFN0vbroRX-HIQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"AqtoNyKo3lU98az21po-fy8rWgE/Mb0tHWXEoH-DAN3xm2t2snKQFwE"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n \"kind\": \"calendar#events\",\n \"etag\": \"\\\"AqtoNyKo3lU98az21po-fy8rWgE/Mb0tHWXEoH-DAN3xm2t2snKQFwE\\\"\",\n
        \"summary\": \"Fortress of evil\",\n \"updated\": \"2013-03-28T18:26:44.484Z\",\n
        \"timeZone\": \"America/Los_Angeles\",\n \"items\": [\n  {\n   \"kind\": \"calendar#event\",\n
        \  \"etag\": \"\\\"AqtoNyKo3lU98az21po-fy8rWgE/Z2NhbDAwMDAxMzY0NDk1MjA0NDg0MDAw\\\"\",\n
        \  \"id\": \"1n14d7mu301qdqr06rue5ckkjs\",\n   \"status\": \"confirmed\",\n
        \  \"htmlLink\": \"https://www.google.com/calendar/event?eid=MW4xNGQ3bXUzMDFxZHFyMDZydWU1Y2tranMgZGV2b2RpLm15Z2Jpei5jb21fMzEzMjMzMzQzNTM2QHJlc291cmNlLmNhbGVuZGFyLmdvb2dsZS5jb20\",\n
        \  \"created\": \"2013-03-28T18:26:42.000Z\",\n   \"updated\": \"2013-03-28T18:26:44.484Z\",\n
        \  \"description\": \"Planning some evil\",\n   \"creator\": {\n    \"email\":
        \"oditech@<GAPPS_DOMAIN_NAME>\",\n    \"displayName\": \"Stuart Harrison\"\n
        \  },\n   \"organizer\": {\n    \"email\": \"<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com\",\n
        \   \"displayName\": \"Fortress of evil\",\n    \"self\": true\n   },\n   \"start\":
        {\n    \"dateTime\": \"2020-01-05T14:00:00Z\",\n    \"timeZone\": \"Europe/London\"\n
        \  },\n   \"end\": {\n    \"dateTime\": \"2020-01-05T16:00:00Z\",\n    \"timeZone\":
        \"Europe/London\"\n   },\n   \"iCalUID\": \"1n14d7mu301qdqr06rue5ckkjs@google.com\",\n
        \  \"sequence\": 0,\n   \"reminders\": {\n    \"useDefault\": true\n   }\n
        \ }\n ]\n}\n"
  recorded_at: Thu, 28 Mar 2013 18:26:50 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/calendar/v3/calendars/<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com/events/1n14d7mu301qdqr06rue5ckkjs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 1/ea49rrjH4Kpd8xpXi2EDafbFiEQNuFFN0vbroRX-HIQ
  response:
    status:
      code: 204
      message: No Content
    headers:
      Etag:
      - ! '"AqtoNyKo3lU98az21po-fy8rWgE/vyGp6PvFo4RvsFtPoIWeCReyIC8"'
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Thu, 28 Mar 2013 18:26:50 GMT
- request:
    method: post
    uri: https://www.google.com/accounts/ClientLogin
    body:
      encoding: US-ASCII
      string: accountType=HOSTED_OR_GOOGLE&Email=oditech%40<GAPPS_DOMAIN_NAME>&Passwd=<GAPPS_PASSWORD>&service=apps&source=odi-officecalendar-0.1
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: US-ASCII
      string: ! '<KEY>

'
  recorded_at: Thu, 28 Mar 2013 18:26:51 GMT
[...]
- request:
    method: get
    uri: https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - GoogleLogin auth=DQAAAPYAAAB_Tsj24vmFY33pdlk1L5uhjjZMvlCbydT70JcNDvDX_mXxJbLBsqpwmnu4il6vMmUkYEsN0XI8X7EQecSNKDyuPokJKpBdCZPXK2aRpjVDzXZMpi84qZKa9OvDjuHKhAUYlclE7sVgL8cidutN3cWLU-8FWcqAXQWIepJSP6TahvxFTz5PfakflGSQH6e36wG-7YTX0d6TvoSeGIYuPueaNTETEmBlSbEGgeF6S8Jpv0PSLVqMOSu7JSnUIk2tj41sis7kdTpTjeY89m2dxxHZzx9AGhu1icXsq6Z7Sla6EMrsNuDHsiEsytsPJgiCPlWylJUoz7F96ISH-T4J9Rrn
      Content-Type:
      - application/atom+xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8
      Gdata-Version:
      - '1.0'
      Last-Modified:
      - Thu, 28 Mar 2013 18:26:52 GMT
    body:
      encoding: US-ASCII
      string: <?xml version='1.0' encoding='UTF-8'?><feed xmlns='http://www.w3.org/2005/Atom'
        xmlns:openSearch='http://a9.com/-/spec/opensearchrss/1.0/' xmlns:apps='http://schemas.google.com/apps/2006'><id>https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME></id><updated>2013-03-28T18:26:52.711Z</updated><link
        rel='http://schemas.google.com/g/2005#feed' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>'/><link
        rel='http://schemas.google.com/g/2005#post' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>'/><link
        rel='self' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>'/><openSearch:startIndex>1</openSearch:startIndex><entry><id>https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/123456</id><updated>2013-03-28T18:26:52.711Z</updated><link
        rel='self' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/123456'/><link
        rel='edit' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/123456'/><apps:property
        name='resourceId' value='123456'/><apps:property name='resourceCommonName'
        value='Fortress of evil'/><apps:property name='resourceEmail' value='<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com'/><apps:property
        name='resourceDescription' value='Where evil things are done'/><apps:property
        name='resourceType' value='Meeting Room'/></entry></feed>
  recorded_at: Thu, 28 Mar 2013 18:26:53 GMT
- request:
    method: delete
    uri: https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/123456
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - GoogleLogin auth=DQAAAPYAAAB_Tsj24vmFY33pdlk1L5uhjjZMvlCbydT70JcNDvDX_mXxJbLBsqpwmnu4il6vMmUkYEsN0XI8X7EQecSNKDyuPokJKpBdCZPXK2aRpjVDzXZMpi84qZKa9OvDjuHKhAUYlclE7sVgL8cidutN3cWLU-8FWcqAXQWIepJSP6TahvxFTz5PfakflGSQH6e36wG-7YTX0d6TvoSeGIYuPueaNTETEmBlSbEGgeF6S8Jpv0PSLVqMOSu7JSnUIk2tj43VEdDtDG6Oj6qH7GQlD7USbbAKS7BGopKYLEodrv6rH9LOxZD6sz2iI9cOuRzigiE93z4zj9mr4nQYblJL9i0p
      Content-Type:
      - application/atom+xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Gdata-Version:
      - '1.0'
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Thu, 28 Mar 2013 18:26:54 GMT
recorded_with: VCR 2.4.0
