---
http_interactions:
- request:
    method: delete
    uri: https://www.googleapis.com/calendar/v3/calendars/<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com/events/215csvtq9n1s6ocaflc1oq1ctc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 1/Q0nCIpG52C_KPrVmImsRW5eNqKtb_OA7FTdNo2DvcqE
  response:
    status:
      code: 204
      message: No Content
    headers:
      Etag:
      - ! '"AqtoNyKo3lU98az21po-fy8rWgE/vyGp6PvFo4RvsFtPoIWeCReyIC8"'
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Thu, 04 Apr 2013 13:46:14 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/calendar/v3/calendars/<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com/events/2lats6hn6cok6ma4qab9gi938o
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 1/Q0nCIpG52C_KPrVmImsRW5eNqKtb_OA7FTdNo2DvcqE
  response:
    status:
      code: 204
      message: No Content
    headers:
      Etag:
      - ! '"AqtoNyKo3lU98az21po-fy8rWgE/vyGp6PvFo4RvsFtPoIWeCReyIC8"'
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Thu, 04 Apr 2013 13:46:22 GMT
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/calendars/<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com/events?timeZone=Europe/London
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 1/Q0nCIpG52C_KPrVmImsRW5eNqKtb_OA7FTdNo2DvcqE
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"AqtoNyKo3lU98az21po-fy8rWgE/id7vEVSwtr5YmZ1Us0YwTSnYVfM"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n \"kind\": \"calendar#events\",\n \"etag\": \"\\\"AqtoNyKo3lU98az21po-fy8rWgE/id7vEVSwtr5YmZ1Us0YwTSnYVfM\\\"\",\n
        \"summary\": \"Fortress of evil\",\n \"updated\": \"2013-04-04T13:46:28.000Z\",\n
        \"timeZone\": \"America/Los_Angeles\",\n \"items\": [\n  {\n   \"kind\": \"calendar#event\",\n
        \  \"etag\": \"\\\"AqtoNyKo3lU98az21po-fy8rWgE/Z2NhbDAwMDAxMzY1MDgzMTg4Njc2MDAw\\\"\",\n
        \  \"id\": \"66vl8g64n45un88kild8li1f48\",\n   \"status\": \"confirmed\",\n
        \  \"htmlLink\": \"https://www.google.com/calendar/event?eid=NjZ2bDhnNjRuNDV1bjg4a2lsZDhsaTFmNDggZGV2b2RpLm15Z2Jpei5jb21fMzEzMjMzMzQzNTM2QHJlc291cmNlLmNhbGVuZGFyLmdvb2dsZS5jb20\",\n
        \  \"created\": \"2013-04-04T13:46:27.000Z\",\n   \"updated\": \"2013-04-04T13:46:28.676Z\",\n
        \  \"description\": \"Planning some evil\",\n   \"creator\": {\n    \"email\":
        \"oditech@<GAPPS_DOMAIN_NAME>\",\n    \"displayName\": \"Stuart Harrison\"\n
        \  },\n   \"organizer\": {\n    \"email\": \"<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com\",\n
        \   \"displayName\": \"Fortress of evil\",\n    \"self\": true\n   },\n   \"start\":
        {\n    \"dateTime\": \"2020-01-05T14:00:00Z\",\n    \"timeZone\": \"Europe/London\"\n
        \  },\n   \"end\": {\n    \"dateTime\": \"2020-01-05T16:00:00Z\",\n    \"timeZone\":
        \"Europe/London\"\n   },\n   \"iCalUID\": \"66vl8g64n45un88kild8li1f48@google.com\",\n
        \  \"sequence\": 0,\n   \"attendees\": [\n    {\n     \"email\": \"<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com\",\n
        \    \"displayName\": \"Fortress of evil\",\n     \"organizer\": true,\n     \"self\":
        true,\n     \"resource\": true,\n     \"responseStatus\": \"declined\"\n    }\n
        \  ],\n   \"reminders\": {\n    \"useDefault\": true\n   }\n  }\n ]\n}\n"
  recorded_at: Thu, 04 Apr 2013 13:46:31 GMT
- request:
    method: post
    uri: https://www.google.com/accounts/ClientLogin
    body:
      encoding: US-ASCII
      string: accountType=HOSTED_OR_GOOGLE&Email=oditech%40<GAPPS_DOMAIN_NAME>&Passwd=<GAPPS_PASSWORD>&service=apps&source=odi-officecalendar-0.1
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: US-ASCII
      string: ! '<KEY>

'
  recorded_at: Thu, 04 Apr 2013 13:46:31 GMT
[...]
- request:
    method: get
    uri: https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - GoogleLogin auth=DQAAAPYAAABBhXuF8KHPEJWM6EgI5DPWc3kvkg2sOKqG7EgYo6kqLDjLg3KII7aVJTM5lzQhijV7ygrhVFgs_Dbm-KYFsq-b3JDP_qudyt036ISKPVc5gPrQX9tRxnuAffAfUy7XfBf13kmffN47ezXJPzXQHhCgBNWBH8dNdHKD1_n_Zit8H5YNrkINhYn2361vV_Nira5lFb41kklLOoDqNsQnBPyGym1iFY6Yv_uhIiK2vtWIuwHJTYZsYcXslbZ7w0H0d2enGde-pZ5OCupT7l1R6J4FBMLSwhHwBGiRPB8iQQjpsilSV0ySEhEC8dLqwLUSOTGAMnXUI8H4KHs7aEjlRE0P
      Content-Type:
      - application/atom+xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8
      Gdata-Version:
      - '1.0'
      Last-Modified:
      - Thu, 04 Apr 2013 13:46:32 GMT
    body:
      encoding: US-ASCII
      string: <?xml version='1.0' encoding='UTF-8'?><feed xmlns='http://www.w3.org/2005/Atom'
        xmlns:openSearch='http://a9.com/-/spec/opensearchrss/1.0/' xmlns:apps='http://schemas.google.com/apps/2006'><id>https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME></id><updated>2013-04-04T13:46:32.845Z</updated><link
        rel='http://schemas.google.com/g/2005#feed' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>'/><link
        rel='http://schemas.google.com/g/2005#post' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>'/><link
        rel='self' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>'/><openSearch:startIndex>1</openSearch:startIndex><entry><id>https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/123456</id><updated>2013-04-04T13:46:32.845Z</updated><link
        rel='self' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/123456'/><link
        rel='edit' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/123456'/><apps:property
        name='resourceId' value='123456'/><apps:property name='resourceCommonName'
        value='Fortress of evil'/><apps:property name='resourceEmail' value='<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com'/><apps:property
        name='resourceDescription' value='Where evil things are done'/><apps:property
        name='resourceType' value='Meeting Room'/></entry></feed>
  recorded_at: Thu, 04 Apr 2013 13:46:32 GMT
- request:
    method: delete
    uri: https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/123456
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - GoogleLogin auth=DQAAAPYAAABBhXuF8KHPEJWM6EgI5DPWc3kvkg2sOKqG7EgYo6kqLDjLg3KII7aVJTM5lzQhijV7ygrhVFgs_Dbm-KYFsq-b3JDP_qudyt036ISKPVc5gPrQX9tRxnuAffAfUy7XfBf13kmffN47ezXJPzXQHhCgBNWBH8dNdHKD1_n_Zit8H5YNrkINhYn2361vV_Nira5lFb41kklLOoDqNsQnBPyGym1iFY6Yv_uhIiK2vtWIuwHJTYZsYcXslbZ7w0H0d2dIb8QUQeixK_lF1d6pcKLlgutFdp3lLuwigppYXNITd_NZFb8u_GuQqy678Iytc9jQ8IZnvAizIu8R6tdyhsqK
      Content-Type:
      - application/atom+xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Gdata-Version:
      - '1.0'
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Thu, 04 Apr 2013 13:46:34 GMT
recorded_with: VCR 2.4.0
