---
http_interactions:
- request:
    method: delete
    uri: https://www.googleapis.com/calendar/v3/calendars/<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com/events/93r5vj3a89rd4rejdmu7n6nccs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 1/SomPA9nn2QqyLLnrjQwyTC3eKtov-1FEAuQBJjTgnyY
  response:
    status:
      code: 204
      message: No Content
    headers:
      Etag:
      - ! '"AqtoNyKo3lU98az21po-fy8rWgE/vyGp6PvFo4RvsFtPoIWeCReyIC8"'
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Tue, 02 Apr 2013 06:15:58 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/calendar/v3/calendars/<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com/events/oqkfs46ua6cfsha63igne0f2nk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 1/3lGpySrCC8tE5KfPIuUYlTSOzvmuFlCWaP0_xQh8L2U
  response:
    status:
      code: 204
      message: No Content
    headers:
      Etag:
      - ! '"AqtoNyKo3lU98az21po-fy8rWgE/vyGp6PvFo4RvsFtPoIWeCReyIC8"'
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Tue, 02 Apr 2013 06:17:41 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/calendar/v3/calendars/<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com/events/du8hv6f8fdpm0indcl6blqvpbk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 1/3lGpySrCC8tE5KfPIuUYlTSOzvmuFlCWaP0_xQh8L2U
  response:
    status:
      code: 204
      message: No Content
    headers:
      Etag:
      - ! '"AqtoNyKo3lU98az21po-fy8rWgE/vyGp6PvFo4RvsFtPoIWeCReyIC8"'
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Tue, 02 Apr 2013 06:18:01 GMT
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/calendars/<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com/events?timeZone=Europe/London
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 1/3lGpySrCC8tE5KfPIuUYlTSOzvmuFlCWaP0_xQh8L2U
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"AqtoNyKo3lU98az21po-fy8rWgE/BAVxP1Eo1nRpNbijLkVDLSGGy80"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n \"kind\": \"calendar#events\",\n \"etag\": \"\\\"AqtoNyKo3lU98az21po-fy8rWgE/BAVxP1Eo1nRpNbijLkVDLSGGy80\\\"\",\n
        \"summary\": \"Fortress of evil\",\n \"updated\": \"2013-04-02T06:18:18.133Z\",\n
        \"timeZone\": \"America/Los_Angeles\",\n \"items\": [\n  {\n   \"kind\": \"calendar#event\",\n
        \  \"etag\": \"\\\"AqtoNyKo3lU98az21po-fy8rWgE/Z2NhbDAwMDAxMzY0ODgzNDk4MTMzMDAw\\\"\",\n
        \  \"id\": \"mp1lce7o9flcuvo118ij85ppo0\",\n   \"status\": \"confirmed\",\n
        \  \"htmlLink\": \"https://www.google.com/calendar/event?eid=bXAxbGNlN285ZmxjdXZvMTE4aWo4NXBwbzAgZGV2b2RpLm15Z2Jpei5jb21fMzEzMjMzMzQzNTM2QHJlc291cmNlLmNhbGVuZGFyLmdvb2dsZS5jb20\",\n
        \  \"created\": \"2013-04-02T06:18:16.000Z\",\n   \"updated\": \"2013-04-02T06:18:18.133Z\",\n
        \  \"description\": \"Planning some evil\",\n   \"creator\": {\n    \"email\":
        \"oditech@<GAPPS_DOMAIN_NAME>\",\n    \"displayName\": \"Stuart Harrison\"\n
        \  },\n   \"organizer\": {\n    \"email\": \"<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com\",\n
        \   \"displayName\": \"Fortress of evil\",\n    \"self\": true\n   },\n   \"start\":
        {\n    \"dateTime\": \"2020-01-05T14:00:00Z\",\n    \"timeZone\": \"Europe/London\"\n
        \  },\n   \"end\": {\n    \"dateTime\": \"2020-01-05T16:00:00Z\",\n    \"timeZone\":
        \"Europe/London\"\n   },\n   \"iCalUID\": \"mp1lce7o9flcuvo118ij85ppo0@google.com\",\n
        \  \"sequence\": 0,\n   \"reminders\": {\n    \"useDefault\": true\n   }\n
        \ }\n ]\n}\n"
  recorded_at: Tue, 02 Apr 2013 06:18:43 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/calendar/v3/calendars/<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com/events/mp1lce7o9flcuvo118ij85ppo0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 1/3lGpySrCC8tE5KfPIuUYlTSOzvmuFlCWaP0_xQh8L2U
  response:
    status:
      code: 204
      message: No Content
    headers:
      Etag:
      - ! '"AqtoNyKo3lU98az21po-fy8rWgE/vyGp6PvFo4RvsFtPoIWeCReyIC8"'
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Tue, 02 Apr 2013 06:18:43 GMT
- request:
    method: post
    uri: https://www.google.com/accounts/ClientLogin
    body:
      encoding: US-ASCII
      string: accountType=HOSTED_OR_GOOGLE&Email=oditech%40<GAPPS_DOMAIN_NAME>&Passwd=<GAPPS_PASSWORD>&service=apps&source=odi-officecalendar-0.1
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: US-ASCII
      string: ! '<KEY>

'
  recorded_at: Tue, 02 Apr 2013 06:18:44 GMT
[...]
- request:
    method: get
    uri: https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - GoogleLogin auth=DQAAAPYAAAA9uAhscg5tW4wVfMvUEDazu5lK88h6R4ebjZsyLDVM4WnI-syaN5_3jygH7nwQCOT-GbnJXoqlOngQd_N5j6n70eFhTOS9J1XIHaxV_3QMTMgvlW-comw2VcviwkULD0-yp7OqZQY8j6zPT42Wal0FJMb6wnrS_yvAvhKBZR2u9TU0anj9EfLhwcCbAGpZPYch-a6MdmruxoaNGwGWIVynXNj3I-2d1O8lWVxW8DKRZYU4667ZALqkywpzzRWAkbROTrw2uM1634425Q3IacWregBfWPYUnzcgoRltzCSA8Ool2CGabS53gF1MBzdTNpF2pRhzzWMOjV78ad3Mnmn2
      Content-Type:
      - application/atom+xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8
      Gdata-Version:
      - '1.0'
      Last-Modified:
      - Tue, 02 Apr 2013 06:18:45 GMT
    body:
      encoding: US-ASCII
      string: <?xml version='1.0' encoding='UTF-8'?><feed xmlns='http://www.w3.org/2005/Atom'
        xmlns:openSearch='http://a9.com/-/spec/opensearchrss/1.0/' xmlns:apps='http://schemas.google.com/apps/2006'><id>https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME></id><updated>2013-04-02T06:18:45.515Z</updated><link
        rel='http://schemas.google.com/g/2005#feed' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>'/><link
        rel='http://schemas.google.com/g/2005#post' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>'/><link
        rel='self' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>'/><openSearch:startIndex>1</openSearch:startIndex><entry><id>https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/123456</id><updated>2013-04-02T06:18:45.515Z</updated><link
        rel='self' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/123456'/><link
        rel='edit' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/123456'/><apps:property
        name='resourceId' value='123456'/><apps:property name='resourceCommonName'
        value='Fortress of evil'/><apps:property name='resourceEmail' value='<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com'/><apps:property
        name='resourceDescription' value='Where evil things are done'/><apps:property
        name='resourceType' value='Meeting Room'/></entry></feed>
  recorded_at: Tue, 02 Apr 2013 06:18:46 GMT
- request:
    method: delete
    uri: https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/123456
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - GoogleLogin auth=DQAAAPYAAADQ3xDPwU2-zc3KsyJWhZj-2LYWS7nCD56QmJgQIg_s_5lM1ssYVMp2PlXcGUXwzsqqcF68gkjSKqV84xasq_QhZRDgyFNbvp7ad6pMpyh7O7icw5l7_yWYbYQQnFnWaSn42NpTCxKnjd5PeLLexy1De8v9YEua8v7WbJ-ljN1VUMjzKervF0KnDDX6l4ZVabe7HE7CXBnScIb_hWKVOHdwgkH3MH7cq0FJgnzkvW5eUxL9uIL9DeCk7Z9xLVp3sQJk0Q8O4foJoFlBX4LX317-vYpMycr3pGjqIoDSfAvzpb_4CAg2X91EvMM1fDESY7lqY1G-ZD8Xmhivs2zPJAgL
      Content-Type:
      - application/atom+xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Gdata-Version:
      - '1.0'
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Tue, 02 Apr 2013 06:18:51 GMT
recorded_with: VCR 2.4.0
