---
http_interactions:
- request:
    method: post
    uri: https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/
    body:
      encoding: US-ASCII
      string: ! "<?xml version='1.0' encoding='utf-8'?>\n<atom:entry xmlns:atom='http://www.w3.org/2005/Atom'
        xmlns:apps='http://schemas.google.com/apps/2006'>\n  <apps:property name='resourceId'
        value='123456'/>\n  <apps:property name='resourceCommonName' value='Fortress
        of evil'/>\n  <apps:property name='resourceDescription' value='Where evil
        things are done'/>\n  <apps:property name='resourceType' value='Meeting Room'/>\n</atom:entry>"
    headers:
      Authorization:
      - GoogleLogin auth=DQAAAPYAAADa4Sa3lcGcyKfyRpuJSycIPmrQ8LeOCOSiQXAfhcCpOcJmi8bqeujJLIYhmKCrIQu10-fDE2UdW2ACerSYn-DMpcZjlnJVZvEw7U8OGdYvZLXHROlqoHSdgmkrTyGly1HmaqzLu0CPuP4obTvKn2tWTfyacfPLxOkKY9-f_noW56uoIetW23NR29BPY6lOWnpw1fb6RhiBfk1TdTrrDlv-NBE0O7G3-SFC8N-QiqPPYkoXaeOUTxjsixtd9NVo4J9xNZ7LOFgNBVy7pEEywLIaV5-e_zatkpR24ys31rycrhmESiVrsUrDGCmfKwhD5LhvER4ZM5WXwxdF6k7qkjMa
      Content-Type:
      - application/atom+xml
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<AppsForYourDomainErrors>\r\n
        \ <error errorCode=\"1300\" invalidInput=\"\" reason=\"EntityExists\" />\r\n</AppsForYourDomainErrors>\r\n\r\n"
  recorded_at: Tue, 02 Apr 2013 06:18:15 GMT
- request:
    method: post
    uri: https://www.google.com/accounts/ClientLogin
    body:
      encoding: US-ASCII
      string: accountType=HOSTED_OR_GOOGLE&Email=oditech%40<GAPPS_DOMAIN_NAME>&Passwd=<GAPPS_PASSWORD>&service=apps&source=odi-officecalendar-0.1
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: US-ASCII
      string: ! '<KEY>

'
  recorded_at: Tue, 02 Apr 2013 06:18:15 GMT
- request:
    method: get
    uri: https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - GoogleLogin auth=DQAAAPYAAABeHGRHoa6jdDq9tpaNdXiw5cqRLMBZShPZRlPd-RNbUSsxA87SWh2AdVuK9clB_0AmAeUryflh0faMhDSdESnum23dmJyVSqa9Vrd8gR2Og73erQ3ZuGiw1VOEAVofjCAPwwJq0bV8g4MC4EBIB7hCkwiY1Q6QtJEqI6lzizENAoBTmg30z-XuJbLHOEag8WPPwmbYvrJfhHjX1-Wbu4gnkH4Hbb2aGW00fPhkQE29NqfDA6LKQWcMH4p7SNlh_ZNaRMDmMHy7WE2Zhaa5XPGmuNLtsmllsu05co24O0k_RFwMIdtrH9bSGQhvX9jZNtk5GYj0C1qG7uLFws-1Mj8Q
      Content-Type:
      - application/atom+xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8
      Gdata-Version:
      - '1.0'
      Last-Modified:
      - Tue, 02 Apr 2013 06:18:15 GMT
    body:
      encoding: US-ASCII
      string: <?xml version='1.0' encoding='UTF-8'?><feed xmlns='http://www.w3.org/2005/Atom'
        xmlns:openSearch='http://a9.com/-/spec/opensearchrss/1.0/' xmlns:apps='http://schemas.google.com/apps/2006'><id>https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME></id><updated>2013-04-02T06:18:15.272Z</updated><link
        rel='http://schemas.google.com/g/2005#feed' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>'/><link
        rel='http://schemas.google.com/g/2005#post' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>'/><link
        rel='self' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>'/><openSearch:startIndex>1</openSearch:startIndex><entry><id>https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/123456</id><updated>2013-04-02T06:18:15.272Z</updated><link
        rel='self' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/123456'/><link
        rel='edit' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/123456'/><apps:property
        name='resourceId' value='123456'/><apps:property name='resourceCommonName'
        value='Fortress of evil'/><apps:property name='resourceEmail' value='<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com'/><apps:property
        name='resourceDescription' value='Where evil things are done'/><apps:property
        name='resourceType' value='Meeting Room'/></entry></feed>
  recorded_at: Tue, 02 Apr 2013 06:18:16 GMT
- request:
    method: post
    uri: https://www.googleapis.com/calendar/v3/calendars/<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com/events
    body:
      encoding: US-ASCII
      string: ! '{"kind":"calendar#event","start":{"dateTime":"2020-01-05T14:00:00+00:00","timeZone":"Europe/London"},"end":{"dateTime":"2020-01-05T16:00:00+00:00","timeZone":"Europe/London"},"description":"Planning
        some evil","attendees":[{"email":"<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com"}]}'
    headers:
      Authorization:
      - OAuth 1/3lGpySrCC8tE5KfPIuUYlTSOzvmuFlCWaP0_xQh8L2U
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"AqtoNyKo3lU98az21po-fy8rWgE/Z2NhbDAwMDAxMzY0ODgzNDk2MTExMDAw"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n \"kind\": \"calendar#event\",\n \"etag\": \"\\\"AqtoNyKo3lU98az21po-fy8rWgE/Z2NhbDAwMDAxMzY0ODgzNDk2MTExMDAw\\\"\",\n
        \"id\": \"mp1lce7o9flcuvo118ij85ppo0\",\n \"status\": \"confirmed\",\n \"htmlLink\":
        \"https://www.google.com/calendar/event?eid=bXAxbGNlN285ZmxjdXZvMTE4aWo4NXBwbzAgZGV2b2RpLm15Z2Jpei5jb21fMzEzMjMzMzQzNTM2QHJlc291cmNlLmNhbGVuZGFyLmdvb2dsZS5jb20\",\n
        \"created\": \"2013-04-02T06:18:16.000Z\",\n \"updated\": \"2013-04-02T06:18:16.111Z\",\n
        \"description\": \"Planning some evil\",\n \"creator\": {\n  \"email\": \"oditech@<GAPPS_DOMAIN_NAME>\",\n
        \ \"displayName\": \"Stuart Harrison\"\n },\n \"organizer\": {\n  \"email\":
        \"<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com\",\n  \"displayName\":
        \"Fortress of evil\",\n  \"self\": true\n },\n \"start\": {\n  \"dateTime\":
        \"2020-01-05T06:00:00-08:00\",\n  \"timeZone\": \"Europe/London\"\n },\n \"end\":
        {\n  \"dateTime\": \"2020-01-05T08:00:00-08:00\",\n  \"timeZone\": \"Europe/London\"\n
        },\n \"iCalUID\": \"mp1lce7o9flcuvo118ij85ppo0@google.com\",\n \"sequence\":
        0,\n \"attendees\": [\n  {\n   \"email\": \"<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com\",\n
        \  \"displayName\": \"Fortress of evil\",\n   \"organizer\": true,\n   \"self\":
        true,\n   \"resource\": true,\n   \"responseStatus\": \"needsAction\"\n  }\n
        ],\n \"reminders\": {\n  \"useDefault\": true\n }\n}\n"
  recorded_at: Tue, 02 Apr 2013 06:18:17 GMT
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/calendars/<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com/events/mp1lce7o9flcuvo118ij85ppo0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 1/3lGpySrCC8tE5KfPIuUYlTSOzvmuFlCWaP0_xQh8L2U
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"AqtoNyKo3lU98az21po-fy8rWgE/Z2NhbDAwMDAxMzY0ODgzNDk2MTExMDAw"'
      Content-T[...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/calendars/<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com/events?timeZone=Europe/London
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 1/3lGpySrCC8tE5KfPIuUYlTSOzvmuFlCWaP0_xQh8L2U
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"AqtoNyKo3lU98az21po-fy8rWgE/BAVxP1Eo1nRpNbijLkVDLSGGy80"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n \"kind\": \"calendar#events\",\n \"etag\": \"\\\"AqtoNyKo3lU98az21po-fy8rWgE/BAVxP1Eo1nRpNbijLkVDLSGGy80\\\"\",\n
        \"summary\": \"Fortress of evil\",\n \"updated\": \"2013-04-02T06:18:18.133Z\",\n
        \"timeZone\": \"America/Los_Angeles\",\n \"items\": [\n  {\n   \"kind\": \"calendar#event\",\n
        \  \"etag\": \"\\\"AqtoNyKo3lU98az21po-fy8rWgE/Z2NhbDAwMDAxMzY0ODgzNDk4MTMzMDAw\\\"\",\n
        \  \"id\": \"mp1lce7o9flcuvo118ij85ppo0\",\n   \"status\": \"confirmed\",\n
        \  \"htmlLink\": \"https://www.google.com/calendar/event?eid=bXAxbGNlN285ZmxjdXZvMTE4aWo4NXBwbzAgZGV2b2RpLm15Z2Jpei5jb21fMzEzMjMzMzQzNTM2QHJlc291cmNlLmNhbGVuZGFyLmdvb2dsZS5jb20\",\n
        \  \"created\": \"2013-04-02T06:18:16.000Z\",\n   \"updated\": \"2013-04-02T06:18:18.133Z\",\n
        \  \"description\": \"Planning some evil\",\n   \"creator\": {\n    \"email\":
        \"oditech@<GAPPS_DOMAIN_NAME>\",\n    \"displayName\": \"Stuart Harrison\"\n
        \  },\n   \"organizer\": {\n    \"email\": \"<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com\",\n
        \   \"displayName\": \"Fortress of evil\",\n    \"self\": true\n   },\n   \"start\":
        {\n    \"dateTime\": \"2020-01-05T14:00:00Z\",\n    \"timeZone\": \"Europe/London\"\n
        \  },\n   \"end\": {\n    \"dateTime\": \"2020-01-05T16:00:00Z\",\n    \"timeZone\":
        \"Europe/London\"\n   },\n   \"iCalUID\": \"mp1lce7o9flcuvo118ij85ppo0@google.com\",\n
        \  \"sequence\": 0,\n   \"reminders\": {\n    \"useDefault\": true\n   }\n
        \ }\n ]\n}\n"
  recorded_at: Tue, 02 Apr 2013 06:18:20 GMT
recorded_with: VCR 2.4.0
