---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/calendars/<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com/events/qc0nl2iuhhl5sj1ts6db1u3psg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 1/Icf26_DTVY7uvLSRrT4PkEcZeO0_-Sde0vmPKfFgBMs
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"AqtoNyKo3lU98az21po-fy8rWgE/Z2NhbDAwMDAxMzY0NDk1MTIyOTc5MDAw"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n \"kind\": \"calendar#event\",\n \"etag\": \"\\\"AqtoNyKo3lU98az21po-fy8rWgE/Z2NhbDAwMDAxMzY0NDk1MTIyOTc5MDAw\\\"\",\n
        \"id\": \"qc0nl2iuhhl5sj1ts6db1u3psg\",\n \"status\": \"confirmed\",\n \"htmlLink\":
        \"https://www.google.com/calendar/event?eid=cWMwbmwyaXVoaGw1c2oxdHM2ZGIxdTNwc2cgZGV2b2RpLm15Z2Jpei5jb21fMzEzMjMzMzQzNTM2QHJlc291cmNlLmNhbGVuZGFyLmdvb2dsZS5jb20\",\n
        \"created\": \"2013-03-28T18:25:22.000Z\",\n \"updated\": \"2013-03-28T18:25:22.979Z\",\n
        \"description\": \"Planning some evil\",\n \"creator\": {\n  \"email\": \"oditech@<GAPPS_DOMAIN_NAME>\",\n
        \ \"displayName\": \"Stuart Harrison\"\n },\n \"organizer\": {\n  \"email\":
        \"<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com\",\n  \"displayName\":
        \"Fortress of evil\",\n  \"self\": true\n },\n \"start\": {\n  \"dateTime\":
        \"2020-01-05T06:00:00-08:00\",\n  \"timeZone\": \"Europe/London\"\n },\n \"end\":
        {\n  \"dateTime\": \"2020-01-05T08:00:00-08:00\",\n  \"timeZone\": \"Europe/London\"\n
        },\n \"iCalUID\": \"qc0nl2iuhhl5sj1ts6db1u3psg@google.com\",\n \"sequence\":
        0,\n \"attendees\": [\n  {\n   \"email\": \"<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com\",\n
        \  \"displayName\": \"Fortress of evil\",\n   \"organizer\": true,\n   \"self\":
        true,\n   \"resource\": true,\n   \"responseStatus\": \"needsAction\"\n  }\n
        ],\n \"reminders\": {\n  \"useDefault\": true\n }\n}\n"
  recorded_at: Thu, 28 Mar 2013 18:25:24 GMT
[...]
- request:
    method: post
    uri: https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/
    body:
      encoding: US-ASCII
      string: ! "<?xml version='1.0' encoding='utf-8'?>\n<atom:entry xmlns:atom='http://www.w3.org/2005/Atom'
        xmlns:apps='http://schemas.google.com/apps/2006'>\n  <apps:property name='resourceId'
        value='123456'/>\n  <apps:property name='resourceCommonName' value='Fortress
        of evil'/>\n  <apps:property name='resourceDescription' value='Where evil
        things are done'/>\n  <apps:property name='resourceType' value='Meeting Room'/>\n</atom:entry>"
    headers:
      Authorization:
      - GoogleLogin auth=DQAAAPcAAAACGszqH4FeDwUUWl22FDiOZz5tKqwOZWTFBaq7QBhGGWys8nbHHpg9GpfF_gfplGtjPx68CxrtRKfHGHIWRokcDBFeOkq6jDTEpkBQmYQ_Gflhu1tYT0qJVxMClkq-j1riMLiylhnt_A3Yl8blaahHfJ_0pscMWdEt110wkBy_uH-RyYq9V_kZiKZuh0C9bhdy2BOU98Wzfuj1zmZ4g9ozqWAWAx4Er46p0SrO3k7rkLAGHn0cs_HK1Fa5TAgz_mXFa9bJGr7v6_6VcmY4QA3JDarEeK4lx7NWZ4gKU-QGHQYu80Kr3-ZE5qPnvrAxzUpXid9biceAxNHdKAEe_6XC
      Content-Type:
      - application/atom+xml
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<AppsForYourDomainErrors>\r\n
        \ <error errorCode=\"1300\" invalidInput=\"\" reason=\"EntityExists\" />\r\n</AppsForYourDomainErrors>\r\n\r\n"
  recorded_at: Thu, 28 Mar 2013 18:26:40 GMT
- request:
    method: post
    uri: https://www.google.com/accounts/ClientLogin
    body:
      encoding: US-ASCII
      string: accountType=HOSTED_OR_GOOGLE&Email=oditech%40<GAPPS_DOMAIN_NAME>&Passwd=<GAPPS_PASSWORD>&service=apps&source=odi-officecalendar-0.1
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: US-ASCII
      string: ! '<KEY>

'
  recorded_at: Thu, 28 Mar 2013 18:26:40 GMT
- request:
    method: get
    uri: https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - GoogleLogin auth=DQAAAPcAAADlIIv8wysTsqPlyW9TeDrSCyPBpUQSdst05AKZR-Zeh6q8_DgLWJ2hqm3-tCdnGDETU2SLkZVx5SIs2uWDcztyAmD4e_ijsO3Wdbe6pXL0PzM_xcg7MJqWzg67y4RjQ0PQwJULWEBBl96e8G9P8alX6dqL9Ay9p6oEGUVUYMyggtAR9hrq3S1rPR8Y7GzJ8hMRcUfxPSkAQ8gzREDaBUjhkHj3W9jlXtdM2bfkeaW6dUnLz-P5Y8hGhzsPYatZR4CoU4vSAuhpUocLNSidoGOXa_he0E93m5YwlDFkBpMkz8uqUQqG7018xYJ7RVNDde2L2rV8NMaV2lr3y9G-EKOF
      Content-Type:
      - application/atom+xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8
      Gdata-Version:
      - '1.0'
      Last-Modified:
      - Thu, 28 Mar 2013 18:26:41 GMT
    body:
      encoding: US-ASCII
      string: <?xml version='1.0' encoding='UTF-8'?><feed xmlns='http://www.w3.org/2005/Atom'
        xmlns:openSearch='http://a9.com/-/spec/opensearchrss/1.0/' xmlns:apps='http://schemas.google.com/apps/2006'><id>https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME></id><updated>2013-03-28T18:26:41.071Z</updated><link
        rel='http://schemas.google.com/g/2005#feed' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>'/><link
        rel='http://schemas.google.com/g/2005#post' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>'/><link
        rel='self' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>'/><openSearch:startIndex>1</openSearch:startIndex><entry><id>https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/123456</id><updated>2013-03-28T18:26:41.071Z</updated><link
        rel='self' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/123456'/><link
        rel='edit' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/123456'/><apps:property
        name='resourceId' value='123456'/><apps:property name='resourceCommonName'
        value='Fortress of evil'/><apps:property name='resourceEmail' value='<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com'/><apps:property
        name='resourceDescription' value='Where evil things are done'/><apps:property
        name='resourceType' value='Meeting Room'/></entry></feed>
  recorded_at: Thu, 28 Mar 2013 18:26:41 GMT
- request:
    method: post
    uri: https://www.googleapis.com/calendar/v3/calendars/<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com/events
    body:
      encoding: US-ASCII
      string: ! '{"kind":"calendar#event","start":{"dateTime":"2020-01-05T14:00:00+00:00","timeZone":"Europe/London"},"end":{"dateTime":"2020-01-05T16:00:00+00:00","timeZone":"Europe/London"},"description":"Planning
        some evil","attendees":[{"email":"<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.g[...]
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/calendars/<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com/events/1n14d7mu301qdqr06rue5ckkjs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 1/ea49rrjH4Kpd8xpXi2EDafbFiEQNuFFN0vbroRX-HIQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"AqtoNyKo3lU98az21po-fy8rWgE/Z2NhbDAwMDAxMzY0NDk1MjAyMTc3MDAw"'
      Content-T[...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/calendars/<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com/events?timeZone=Europe/London
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 1/ea49rrjH4Kpd8xpXi2EDafbFiEQNuFFN0vbroRX-HIQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"AqtoNyKo3lU98az21po-fy8rWgE/Mb0tHWXEoH-DAN3xm2t2snKQFwE"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n \"kind\": \"calendar#events\",\n \"etag\": \"\\\"AqtoNyKo3lU98az21po-fy8rWgE/Mb0tHWXEoH-DAN3xm2t2snKQFwE\\\"\",\n
        \"summary\": \"Fortress of evil\",\n \"updated\": \"2013-03-28T18:26:44.484Z\",\n
        \"timeZone\": \"America/Los_Angeles\",\n \"items\": [\n  {\n   \"kind\": \"calendar#event\",\n
        \  \"etag\": \"\\\"AqtoNyKo3lU98az21po-fy8rWgE/Z2NhbDAwMDAxMzY0NDk1MjA0NDg0MDAw\\\"\",\n
        \  \"id\": \"1n14d7mu301qdqr06rue5ckkjs\",\n   \"status\": \"confirmed\",\n
        \  \"htmlLink\": \"https://www.google.com/calendar/event?eid=MW4xNGQ3bXUzMDFxZHFyMDZydWU1Y2tranMgZGV2b2RpLm15Z2Jpei5jb21fMzEzMjMzMzQzNTM2QHJlc291cmNlLmNhbGVuZGFyLmdvb2dsZS5jb20\",\n
        \  \"created\": \"2013-03-28T18:26:42.000Z\",\n   \"updated\": \"2013-03-28T18:26:44.484Z\",\n
        \  \"description\": \"Planning some evil\",\n   \"creator\": {\n    \"email\":
        \"oditech@<GAPPS_DOMAIN_NAME>\",\n    \"displayName\": \"Stuart Harrison\"\n
        \  },\n   \"organizer\": {\n    \"email\": \"<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com\",\n
        \   \"displayName\": \"Fortress of evil\",\n    \"self\": true\n   },\n   \"start\":
        {\n    \"dateTime\": \"2020-01-05T14:00:00Z\",\n    \"timeZone\": \"Europe/London\"\n
        \  },\n   \"end\": {\n    \"dateTime\": \"2020-01-05T16:00:00Z\",\n    \"timeZone\":
        \"Europe/London\"\n   },\n   \"iCalUID\": \"1n14d7mu301qdqr06rue5ckkjs@google.com\",\n
        \  \"sequence\": 0,\n   \"reminders\": {\n    \"useDefault\": true\n   }\n
        \ }\n ]\n}\n"
  recorded_at: Thu, 28 Mar 2013 18:26:46 GMT
recorded_with: VCR 2.4.0
