---
http_interactions:
- request:
    method: post
    uri: https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/
    body:
      encoding: US-ASCII
      string: ! "<?xml version='1.0' encoding='utf-8'?>\n<atom:entry xmlns:atom='http://www.w3.org/2005/Atom'
        xmlns:apps='http://schemas.google.com/apps/2006'>\n  <apps:property name='resourceId'
        value='123456'/>\n  <apps:property name='resourceCommonName' value='Fortress
        of evil'/>\n  <apps:property name='resourceDescription' value='Where evil
        things are done'/>\n  <apps:property name='resourceType' value='Meeting Room'/>\n</atom:entry>"
    headers:
      Authorization:
      - GoogleLogin auth=DQAAAPYAAABiVVyf2Psx4KQNxkBbJbtGreDA0VziUnUvR_YUy_jO-Cwwcx-AaeEoIFBtcHvKM7RF0JIkZL6DVwiK4H9ByNx6hQITKTKqsLHWm1a7AKMHwvjzB0qYOSOHgUln1EEp1UTZAG_Av7qVwnuVv2C7PH7yJNk1f768-jH50YwiXp6hI8B0fiIdqFEYkCRENIXzm3MEWAvYNNtwIV1xssyjGalqm6w3oHjE43UjgzFfDLP9BBiHxOn9hL0Sl9uSA5fokg5m1UkLfP52Ozw6RWlisoe0PlaXQ8D_Np70vpojlH-ckgSaYzpGXS2DPScAWVpXzi_X9e_coI0QVJr-opbWGlIN
      Content-Type:
      - application/atom+xml
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<AppsForYourDomainErrors>\r\n
        \ <error errorCode=\"1300\" invalidInput=\"\" reason=\"EntityExists\" />\r\n</AppsForYourDomainErrors>\r\n\r\n"
  recorded_at: Thu, 04 Apr 2013 13:46:24 GMT
- request:
    method: post
    uri: https://www.google.com/accounts/ClientLogin
    body:
      encoding: US-ASCII
      string: accountType=HOSTED_OR_GOOGLE&Email=oditech%40<GAPPS_DOMAIN_NAME>&Passwd=<GAPPS_PASSWORD>&service=apps&source=odi-officecalendar-0.1
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: US-ASCII
      string: ! '<KEY>

'
  recorded_at: Thu, 04 Apr 2013 13:46:26 GMT
- request:
    method: get
    uri: https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - GoogleLogin auth=DQAAAPYAAACb3eQWy5TYsyeaM35t0L_wahqYh8ryJq5Trf6AnXEU92Xch9aARowydwAIUKVy9Y0CVfvLUGg97RZpL1eieAuH4uJ334j8k_IMVdVmG-6WOLWxYTJVsc8gaX9K3D3twCm1l_Di41bTJRqOu4oaXI8ZFn0688iTwAxy6ubDkFQTzYv2mySSMMqaqBHlorpnz6NjhboRQVVviduTXmTAYxpSYq6bpyWZzogyt0nyywAxATrPGWJvOLxpIr_P_b3X-iVQ5Midu6lt67i7z5I5tkf0AIyqzUeAzp_89FwmwGEbper1l7rka8jPs8gwAjMKr6EBrW2687LUAFmz4OIMU2ZN
      Content-Type:
      - application/atom+xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8
      Gdata-Version:
      - '1.0'
      Last-Modified:
      - Thu, 04 Apr 2013 13:46:27 GMT
    body:
      encoding: US-ASCII
      string: <?xml version='1.0' encoding='UTF-8'?><feed xmlns='http://www.w3.org/2005/Atom'
        xmlns:openSearch='http://a9.com/-/spec/opensearchrss/1.0/' xmlns:apps='http://schemas.google.com/apps/2006'><id>https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME></id><updated>2013-04-04T13:46:27.367Z</updated><link
        rel='http://schemas.google.com/g/2005#feed' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>'/><link
        rel='http://schemas.google.com/g/2005#post' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>'/><link
        rel='self' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>'/><openSearch:startIndex>1</openSearch:startIndex><entry><id>https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/123456</id><updated>2013-04-04T13:46:27.367Z</updated><link
        rel='self' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/123456'/><link
        rel='edit' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/123456'/><apps:property
        name='resourceId' value='123456'/><apps:property name='resourceCommonName'
        value='Fortress of evil'/><apps:property name='resourceEmail' value='<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com'/><apps:property
        name='resourceDescription' value='Where evil things are done'/><apps:property
        name='resourceType' value='Meeting Room'/></entry></feed>
  recorded_at: Thu, 04 Apr 2013 13:46:27 GMT
- request:
    method: post
    uri: https://www.googleapis.com/calendar/v3/calendars/<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com/events
    body:
      encoding: US-ASCII
      string: ! '{"kind":"calendar#event","start":{"dateTime":"2020-01-05T14:00:00+00:00","timeZone":"Europe/London"},"end":{"dateTime":"2020-01-05T16:00:00+00:00","timeZone":"Europe/London"},"description":"Planning
        some evil","attendees":[{"email":"<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com"}]}'
    headers:
      Authorization:
      - OAuth 1/Q0nCIpG52C_KPrVmImsRW5eNqKtb_OA7FTdNo2DvcqE
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"AqtoNyKo3lU98az21po-fy8rWgE/Z2NhbDAwMDAxMzY1MDgzMTg3ODMxMDAw"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n \"kind\": \"calendar#event\",\n \"etag\": \"\\\"AqtoNyKo3lU98az21po-fy8rWgE/Z2NhbDAwMDAxMzY1MDgzMTg3ODMxMDAw\\\"\",\n
        \"id\": \"66vl8g64n45un88kild8li1f48\",\n \"status\": \"confirmed\",\n \"htmlLink\":
        \"https://www.google.com/calendar/event?eid=NjZ2bDhnNjRuNDV1bjg4a2lsZDhsaTFmNDggZGV2b2RpLm15Z2Jpei5jb21fMzEzMjMzMzQzNTM2QHJlc291cmNlLmNhbGVuZGFyLmdvb2dsZS5jb20\",\n
        \"created\": \"2013-04-04T13:46:27.000Z\",\n \"updated\": \"2013-04-04T13:46:27.831Z\",\n
        \"description\": \"Planning some evil\",\n \"creator\": {\n  \"email\": \"oditech@<GAPPS_DOMAIN_NAME>\",\n
        \ \"displayName\": \"Stuart Harrison\"\n },\n \"organizer\": {\n  \"email\":
        \"<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com\",\n  \"displayName\":
        \"Fortress of evil\",\n  \"self\": true\n },\n \"start\": {\n  \"dateTime\":
        \"2020-01-05T06:00:00-08:00\",\n  \"timeZone\": \"Europe/London\"\n },\n \"end\":
        {\n  \"dateTime\": \"2020-01-05T08:00:00-08:00\",\n  \"timeZone\": \"Europe/London\"\n
        },\n \"iCalUID\": \"66vl8g64n45un88kild8li1f48@google.com\",\n \"sequence\":
        0,\n \"attendees\": [\n  {\n   \"email\": \"<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com\",\n
        \  \"displayName\": \"Fortress of evil\",\n   \"organizer\": true,\n   \"self\":
        true,\n   \"resource\": true,\n   \"responseStatus\": \"needsAction\"\n  }\n
        ],\n \"reminders\": {\n  \"useDefault\": true\n }\n}\n"
  recorded_at: Thu, 04 Apr 2013 13:46:27 GMT
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/calendars/<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com/events/66vl8g64n45un88kild8li1f48
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 1/Q0nCIpG52C_KPrVmImsRW5eNqKtb_OA7FTdNo2DvcqE
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"AqtoNyKo3lU98az21po-fy8rWgE/Z2NhbDAwMDAxMzY1MDgzMTg3ODMxMDAw"'
      Content-T[...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/calendars/<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com/events?timeZone=Europe/London
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 1/Q0nCIpG52C_KPrVmImsRW5eNqKtb_OA7FTdNo2DvcqE
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"AqtoNyKo3lU98az21po-fy8rWgE/o1eiWx3i7yXIPjNLn_9ymAwqZow"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n \"kind\": \"calendar#events\",\n \"etag\": \"\\\"AqtoNyKo3lU98az21po-fy8rWgE/o1eiWx3i7yXIPjNLn_9ymAwqZow\\\"\",\n
        \"summary\": \"Fortress of evil\",\n \"updated\": \"2013-04-04T13:46:28.000Z\",\n
        \"timeZone\": \"America/Los_Angeles\",\n \"items\": [\n  {\n   \"kind\": \"calendar#event\",\n
        \  \"etag\": \"\\\"AqtoNyKo3lU98az21po-fy8rWgE/Z2NhbDAwMDAxMzY1MDgzMTg4Njc2MDAw\\\"\",\n
        \  \"id\": \"66vl8g64n45un88kild8li1f48\",\n   \"status\": \"confirmed\",\n
        \  \"htmlLink\": \"https://www.google.com/calendar/event?eid=NjZ2bDhnNjRuNDV1bjg4a2lsZDhsaTFmNDggZGV2b2RpLm15Z2Jpei5jb21fMzEzMjMzMzQzNTM2QHJlc291cmNlLmNhbGVuZGFyLmdvb2dsZS5jb20\",\n
        \  \"created\": \"2013-04-04T13:46:27.000Z\",\n   \"updated\": \"2013-04-04T1[...]
