---
http_interactions:
- request:
    method: post
    uri: https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/
    body:
      encoding: US-ASCII
      string: ! "<?xml version='1.0' encoding='utf-8'?>\n<atom:entry xmlns:atom='http://www.w3.org/2005/Atom'
        xmlns:apps='http://schemas.google.com/apps/2006'>\n  <apps:property name='resourceId'
        value='123456'/>\n  <apps:property name='resourceCommonName' value='Fortress
        of evil'/>\n  <apps:property name='resourceDescription' value='Where evil
        things are done'/>\n  <apps:property name='resourceType' value='Meeting Room'/>\n</atom:entry>"
    headers:
      Authorization:
      - GoogleLogin auth=DQAAAPYAAADDoCUM0XpG_vMNiWblMMsByxqIOY_TllFGUxPEeCEbCP_P6ppmOaigJ3MB5FPHK-OrwJOPbimpQPskTS3qgtmam5xT4B9ujyzkWUHzeNxHEUal750_cGknEzD5vlQu245vjggvl1ew1xTcwNqti0zEuuF0etuKBunnrAWAR-akmqgohhA_m5u-8RvwSAG-8UZ05w6HoR4vSZqTCU-nmT1pFrycVN61731EV0j9rV0CHQo0o-MDljOYuiwGcF6R86UnpZXfbIVj_bTDhSl-YuCWbiBsFFOHgC-PWyzF48fkGDEAkGTnh1PJna9UtuwXDlTSndR3air5vbMmTJ4uXeNT
      Content-Type:
      - application/atom+xml
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8
      Gdata-Version:
      - '1.0'
      Location:
      - https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/123456
      Content-Location:
      - https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/123456
    body:
      encoding: US-ASCII
      string: <?xml version='1.0' encoding='UTF-8'?><entry xmlns='http://www.w3.org/2005/Atom'
        xmlns:apps='http://schemas.google.com/apps/2006'><id>https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/123456</id><updated>2013-04-02T06:17:21.443Z</updated><link
        rel='self' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/123456'/><link
        rel='edit' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/123456'/><apps:property
        name='resourceId' value='123456'/><apps:property name='resourceCommonName'
        value='Fortress of evil'/><apps:property name='resourceDescription' value='Where
        evil things are done'/><apps:property name='resourceType' value='Meeting Room'/></entry>
  recorded_at: Tue, 02 Apr 2013 06:17:22 GMT
- request:
    method: post
    uri: https://www.google.com/accounts/ClientLogin
    body:
      encoding: US-ASCII
      string: accountType=HOSTED_OR_GOOGLE&Email=oditech%40<GAPPS_DOMAIN_NAME>&Passwd=<GAPPS_PASSWORD>&service=apps&source=odi-officecalendar-0.1
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: US-ASCII
      string: ! '<KEY>

'
  recorded_at: Tue, 02 Apr 2013 06:17:23 GMT
- request:
    method: get
    uri: https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - GoogleLogin auth=DQAAAPgAAADpyHe9IpzBdoa5uShgC5etbZQsdBu5d6XKxefZ01KlfoXfFjMb7CCxmjrjH71h_cjbbjKvpVbuvZDCVk4qqStfmXnFu9iyDd2xtc62Fo5HLyXK3Ddb0QViM1Rl79_oGF3_GOdm72o1V2fWT7TzVheCTmJSH913MiRHSrrbylsPTsPS3lR0qTXwQCewPbCchjoDGfkfi9E3ZW2D2XjuBVipJCI7jf6dYrvQK0kuquTvwEDvo_N16-YNhiRtOGP7vYGfPjDYNysxM_b7sDrlpNkcxvBh90OKSAwxiF11sjXzSF03uEbRHvJyWVKrVYmDlq1GgsnLh3y-HYVberKwACLg
      Content-Type:
      - application/atom+xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8
      Gdata-Version:
      - '1.0'
      Last-Modified:
      - Tue, 02 Apr 2013 06:17:23 GMT
    body:
      encoding: US-ASCII
      string: <?xml version='1.0' encoding='UTF-8'?><feed xmlns='http://www.w3.org/2005/Atom'
        xmlns:openSearch='http://a9.com/-/spec/opensearchrss/1.0/' xmlns:apps='http://schemas.google.com/apps/2006'><id>https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME></id><updated>2013-04-02T06:17:23.071Z</updated><link
        rel='http://schemas.google.com/g/2005#feed' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>'/><link
        rel='http://schemas.google.com/g/2005#post' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>'/><link
        rel='self' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>'/><openSearch:startIndex>1</openSearch:startIndex><entry><id>https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/123456</id><updated>2013-04-02T06:17:23.071Z</updated><link
        rel='self' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/123456'/><link
        rel='edit' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/123456'/><apps:property
        name='resourceId' value='123456'/><apps:property name='resourceCommonName'
        value='Fortress of evil'/><apps:property name='resourceEmail' value='<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com'/><apps:property
        name='resourceDescription' value='Where evil things are done'/><apps:property
        name='resourceType' value='Meeting Room'/></entry></feed>
  recorded_at: Tue, 02 Apr 2013 06:17:24 GMT
- request:
    method: post
    uri: https://www.googleapis.com/calendar/v3/calendars/<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com/events
    body:
      encoding: US-ASCII
      string: ! '{"kind":"calendar#event","start":{"dateTime":"2020-01-04T10:00:00+00:00","timeZone":"Europe/London"},"end":{"dateTime":"2020-01-04T15:00:00+00:00","timeZone":"Europe/London"},"description":"Planning
        some evil","attendees":[{"email":"<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com"}]}'
    headers:
      Authorization:
      - OAuth 1/3lGpySrCC8tE5KfPIuUYlTSOzvmuFlCWaP0_xQh8L2U
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"AqtoNyKo3lU98az21po-fy8rWgE/Z2NhbDAwMDAxMzY0ODgzNDQ1MzM2MDAw"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n \"kind\": \"calendar#event\",\n \"etag\": \"\\\"AqtoNyKo3lU98az21po-fy8rWgE/Z2NhbDAwMDAxMzY0ODgzNDQ1MzM2MDAw\\\"\",\n
        \"id\": \"oqkfs46ua6cfsha63igne0f2nk\",\n \"status\": \"confirmed\",\n \"htmlLink\":
        \"https://www.google.com/calendar/event?eid=b3FrZnM0NnVhNmNmc2hhNjNpZ25lMGYybmsgZGV2b2RpLm15Z2Jpei5jb21fMzEzMjMzMzQzNTM2QHJlc291cmNlLmNhbGVuZGFyLmdvb2dsZS5jb20\",\n
        \"created\": \"2013-04-02T06:17:24.000Z\",\n \"updated\": \"2013-04-02T06:17:25.336Z\",\n
        \"description\": \"Planning some evil\",\n \"creator\": {\n  \"email\": \"oditech@<GAPPS_DOMAIN_NAME>\",\n
        \ \"displayName\": \"Stuart Harrison\"\n },\n \"organizer\": {\n  \"email\":
        \"<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com\",\n  \"displayName\":
        \"Fortress of evil\",\n  \"self\": true\n },\n \"start\": {\n  \"dateTime\":
        \"2020-01-04T02:00:00-08:00\",\n  \"timeZone\": \"Europe/London\"\n },\n \"end\":
        {\n  \"dateTime\": \"2020-01-04T07:00:00-08:00\",\n  \"timeZone\": \"Europe/London\"\n
        },\n \"iCalUID\": \"oqkfs46ua6cfsha63igne0f2nk@google.com\",\n \"sequence\":
        0,\n \"attendees\": [\n  {\n   \"email\": \"<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com\",\n
        \  \"displayName\": \"Fortress of evil\",\n   \"organizer\": true,\n   \"self\":
        true,\n   \"resource\": true,\n   \"responseStatus\": \"needsAction\"\n  }\n
        ],\n \"reminders\": {\n  \"useDefault\": true\n }\n}\n"
  recorded_at: Tue, 02 Apr 2013 06:17:27 GMT
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/calendars/<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com/events?timeZone=Europe/London
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 1/3lGpySrCC8tE5KfPIuUYlTSOzvmuFlCWaP0_xQh8L2U
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"AqtoNyKo3lU98az21po-fy8rWgE/SASKtW4z4p4jtl8w0e2X7nZdxNM"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n \"kind\": \"calendar#events\",\n \"etag\": \"\\\"AqtoNyKo3lU98az21po-fy8rWgE/SASKtW4z4p4jtl8w0e2X7nZdxNM\\\"\",\n
        \"summary\": \"Fortress of evil\",\n \"updated\": \"2013-04-02T06:17:26.684Z\",\n
        \"timeZone\": \"America/Los_Angeles\",\n \"items\": [\n  {\n   \"kind\": \"calendar#event\",\n
        \  \"etag\": \"\\\"AqtoNyKo3lU98az21po-fy8rWgE/Z2NhbDAwMDAxMzY0ODgzNDQ1MzM2MDAw\\\"\",\n
        \  \"id\": \"oqkfs46ua6cfsha63igne0f2nk\",\n   \"status\": \"confirmed\",\n
        \  \"htmlLink\": \"https://www.google.com/calendar/event?eid=b3FrZnM0NnVhNmNmc2hhNjNpZ25lMGYybmsgZGV2b2RpLm15Z2Jpei5jb21fMzEzMjMzMzQzNTM2QHJlc291cmNlLmNhbGVuZGFyLmdvb2dsZS5jb20\",\n
        \  \"created\": \"2013-04-02T06:17:24.000Z\",\n   \"updated\": \"2013-04-02T0[...]
