---
http_interactions:
- request:
    method: post
    uri: https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/
    body:
      encoding: US-ASCII
      string: ! "<?xml version='1.0' encoding='utf-8'?>\n<atom:entry xmlns:atom='http://www.w3.org/2005/Atom'
        xmlns:apps='http://schemas.google.com/apps/2006'>\n  <apps:property name='resourceId'
        value='123456'/>\n  <apps:property name='resourceCommonName' value='Fortress
        of evil'/>\n  <apps:property name='resourceDescription' value='Where evil
        things are done'/>\n  <apps:property name='resourceType' value='Meeting Room'/>\n</atom:entry>"
    headers:
      Authorization:
      - GoogleLogin auth=DQAAAPgAAADT1SO4o9mhqKP2pRg6OSJ9wXxuO56HKpKASlPFD2_PU3AlI2eMfaceV_9aS649P1cqdsXGoh6tsXMo-wsnzLb3eAiKtVOxzaId3gqHNEWD4jt57b1ROCpHRN-bzc0okun-_A72JABGG1wyhV90BoZfraQPjVIo645238sZXmH1BqpfNGoaOoYiNgX4pEAu2sbawKszLfiK6d3H8r7QYxgJCQ313_D-y0YWvLv3Snp-BxZiWCMvFV0aSIvESIb8zfdiSmlatiJI9fRbmuvptjVUrT-gOue1J7OOAxYSwpybG4X7VnlDb7j2kdTBei-eYr6eRJim2lmRILyZdIm2o_4Z
      Content-Type:
      - application/atom+xml
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8
      Gdata-Version:
      - '1.0'
      Location:
      - https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/123456
      Content-Location:
      - https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/123456
    body:
      encoding: US-ASCII
      string: <?xml version='1.0' encoding='UTF-8'?><entry xmlns='http://www.w3.org/2005/Atom'
        xmlns:apps='http://schemas.google.com/apps/2006'><id>https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/123456</id><updated>2013-04-04T13:46:05.018Z</updated><link
        rel='self' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/123456'/><link
        rel='edit' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/123456'/><apps:property
        name='resourceId' value='123456'/><apps:property name='resourceCommonName'
        value='Fortress of evil'/><apps:property name='resourceDescription' value='Where
        evil things are done'/><apps:property name='resourceType' value='Meeting Room'/></entry>
  recorded_at: Thu, 04 Apr 2013 13:46:04 GMT
- request:
    method: post
    uri: https://www.google.com/accounts/ClientLogin
    body:
      encoding: US-ASCII
      string: accountType=HOSTED_OR_GOOGLE&Email=oditech%40<GAPPS_DOMAIN_NAME>&Passwd=<GAPPS_PASSWORD>&service=apps&source=odi-officecalendar-0.1
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: US-ASCII
      string: ! '<KEY>

'
  recorded_at: Thu, 04 Apr 2013 13:46:07 GMT
- request:
    method: get
    uri: https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - GoogleLogin auth=DQAAAPcAAABDKUBSFksmZ7hgbdGVCojavP_QcN_PvtUNVRGcLWXrnI13Xhxk6HwHg54RHJS88hQPsmZ7ugjQ3ffP1wYDcKNMf328hEDsU-ezTVqHVLdtFK9L6hXm9PTu3KT8vDD0Gu20AN33PFaJWqfgaYJRq_4ZugEneEaibEDz_LC8HqgseCvcXUgqJiGOXRBO1Z50qtKNc-R0fioHFU67CWT-Amv2Rws5Yw8OFlijTIBC8QMTu0PFo9qX5P7guyeaB0qyyD-uyTMR0QmRkqUqkuCDabOOIH3v-Z_2j68Fap1cvAy2fKEbogAGM9illKClSxNM9YV0bApBFTS7e2rTyJ-PgCg4
      Content-Type:
      - application/atom+xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8
      Gdata-Version:
      - '1.0'
      Last-Modified:
      - Thu, 04 Apr 2013 13:46:08 GMT
    body:
      encoding: US-ASCII
      string: <?xml version='1.0' encoding='UTF-8'?><feed xmlns='http://www.w3.org/2005/Atom'
        xmlns:openSearch='http://a9.com/-/spec/opensearchrss/1.0/' xmlns:apps='http://schemas.google.com/apps/2006'><id>https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME></id><updated>2013-04-04T13:46:08.227Z</updated><link
        rel='http://schemas.google.com/g/2005#feed' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>'/><link
        rel='http://schemas.google.com/g/2005#post' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>'/><link
        rel='self' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>'/><openSearch:startIndex>1</openSearch:startIndex><entry><id>https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/123456</id><updated>2013-04-04T13:46:08.227Z</updated><link
        rel='self' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/123456'/><link
        rel='edit' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/123456'/><apps:property
        name='resourceId' value='123456'/><apps:property name='resourceCommonName'
        value='Fortress of evil'/><apps:property name='resourceEmail' value='<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com'/><apps:property
        name='resourceDescription' value='Where evil things are done'/><apps:property
        name='resourceType' value='Meeting Room'/></entry></feed>
  recorded_at: Thu, 04 Apr 2013 13:46:08 GMT
- request:
    method: post
    uri: https://www.googleapis.com/calendar/v3/calendars/<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com/events
    body:
      encoding: US-ASCII
      string: ! '{"kind":"calendar#event","start":{"dateTime":"2020-01-04T10:00:00+00:00","timeZone":"Europe/London"},"end":{"dateTime":"2020-01-04T15:00:00+00:00","timeZone":"Europe/London"},"description":"Planning
        some evil","attendees":[{"email":"<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com"}]}'
    headers:
      Authorization:
      - OAuth 1/Q0nCIpG52C_KPrVmImsRW5eNqKtb_OA7FTdNo2DvcqE
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"AqtoNyKo3lU98az21po-fy8rWgE/Z2NhbDAwMDAxMzY1MDgzMTcwNTMxMDAw"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n \"kind\": \"calendar#event\",\n \"etag\": \"\\\"AqtoNyKo3lU98az21po-fy8rWgE/Z2NhbDAwMDAxMzY1MDgzMTcwNTMxMDAw\\\"\",\n
        \"id\": \"215csvtq9n1s6ocaflc1oq1ctc\",\n \"status\": \"confirmed\",\n \"htmlLink\":
        \"https://www.google.com/calendar/event?eid=MjE1Y3N2dHE5bjFzNm9jYWZsYzFvcTFjdGMgZGV2b2RpLm15Z2Jpei5jb21fMzEzMjMzMzQzNTM2QHJlc291cmNlLmNhbGVuZGFyLmdvb2dsZS5jb20\",\n
        \"created\": \"2013-04-04T13:46:10.000Z\",\n \"updated\": \"2013-04-04T13:46:10.531Z\",\n
        \"description\": \"Planning some evil\",\n \"creator\": {\n  \"email\": \"oditech@<GAPPS_DOMAIN_NAME>\",\n
        \ \"displayName\": \"Stuart Harrison\"\n },\n \"organizer\": {\n  \"email\":
        \"<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com\",\n  \"displayName\":
        \"Fortress of evil\",\n  \"self\": true\n },\n \"start\": {\n  \"dateTime\":
        \"2020-01-04T02:00:00-08:00\",\n  \"timeZone\": \"Europe/London\"\n },\n \"end\":
        {\n  \"dateTime\": \"2020-01-04T07:00:00-08:00\",\n  \"timeZone\": \"Europe/London\"\n
        },\n \"iCalUID\": \"215csvtq9n1s6ocaflc1oq1ctc@google.com\",\n \"sequence\":
        0,\n \"attendees\": [\n  {\n   \"email\": \"<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com\",\n
        \  \"displayName\": \"Fortress of evil\",\n   \"organizer\": true,\n   \"self\":
        true,\n   \"resource\": true,\n   \"responseStatus\": \"needsAction\"\n  }\n
        ],\n \"reminders\": {\n  \"useDefault\": true\n }\n}\n"
  recorded_at: Thu, 04 Apr 2013 13:46:10 GMT
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/calendars/<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com/events?timeZone=Europe/London
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 1/Q0nCIpG52C_KPrVmImsRW5eNqKtb_OA7FTdNo2DvcqE
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"AqtoNyKo3lU98az21po-fy8rWgE/zgBzAImAGX0zII5OlaJVRYO4Lv8"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n \"kind\": \"calendar#events\",\n \"etag\": \"\\\"AqtoNyKo3lU98az21po-fy8rWgE/zgBzAImAGX0zII5OlaJVRYO4Lv8\\\"\",\n
        \"summary\": \"Fortress of evil\",\n \"updated\": \"2013-04-04T13:46:10.000Z\",\n
        \"timeZone\": \"America/Los_Angeles\",\n \"items\": [\n  {\n   \"kind\": \"calendar#event\",\n
        \  \"etag\": \"\\\"AqtoNyKo3lU98az21po-fy8rWgE/Z2NhbDAwMDAxMzY1MDgzMTcwNTMxMDAw\\\"\",\n
        \  \"id\": \"215csvtq9n1s6ocaflc1oq1ctc\",\n   \"status\": \"confirmed\",\n
        \  \"htmlLink\": \"https://www.google.com/calendar/event?eid=MjE1Y3N2dHE5bjFzNm9jYWZsYzFvcTFjdGMgZGV2b2RpLm15Z2Jpei5jb21fMzEzMjMzMzQzNTM2QHJlc291cmNlLmNhbGVuZGFyLmdvb2dsZS5jb20\",\n
        \  \"created\": \"2013-04-04T13:46:10.000Z\",\n   \"updated\": \"2013-04-04T1[...]
