---
http_interactions:
- request:
    method: post
    uri: https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/
    body:
      encoding: US-ASCII
      string: ! "<?xml version='1.0' encoding='utf-8'?>\n<atom:entry xmlns:atom='http://www.w3.org/2005/Atom'
        xmlns:apps='http://schemas.google.com/apps/2006'>\n  <apps:property name='resourceId'
        value='123456'/>\n  <apps:property name='resourceCommonName' value='Fortress
        of evil'/>\n  <apps:property name='resourceDescription' value='Where evil
        things are done'/>\n  <apps:property name='resourceType' value='Meeting Room'/>\n</atom:entry>"
    headers:
      Authorization:
      - GoogleLogin auth=DQAAAPcAAAA8XfleMvbK83CDservd5GaQWBt9uHqW9zNow2lV7vwC_2iaCOSMOoR5LzWYmvqdco-ehdzFsFOQ5vaEIJSck7N4R7VbizMKJ82tNW2E9WV7R2qXAboxKGbYnXlW9FH-gWhy40qT9DfjjlGYPlDwOXxXxP4u6lqxnTNAIx4mT0ramemtM2DPwtDX9rfyv-nhEu944RhjyYVbad_Eh4nibZE3YsP65tc_htwgzUkpCAtRk-CZLijJncG-DggfM936TyClif-xfVepewSTBbusOdj8jWPZlZ166mtgIq9nPyR-S9SY05qBx9ZZNhdi0wSUBa1LmC1AMCdu7X2ZZvwuNgf
      Content-Type:
      - application/atom+xml
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<AppsForYourDomainErrors>\r\n
        \ <error errorCode=\"1300\" invalidInput=\"\" reason=\"EntityExists\" />\r\n</AppsForYourDomainErrors>\r\n\r\n"
  recorded_at: Thu, 28 Mar 2013 18:26:28 GMT
- request:
    method: post
    uri: https://www.google.com/accounts/ClientLogin
    body:
      encoding: US-ASCII
      string: accountType=HOSTED_OR_GOOGLE&Email=oditech%40<GAPPS_DOMAIN_NAME>&Passwd=<GAPPS_PASSWORD>&service=apps&source=odi-officecalendar-0.1
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: US-ASCII
      string: ! '<KEY>

'
  recorded_at: Thu, 28 Mar 2013 18:26:29 GMT
- request:
    method: get
    uri: https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - GoogleLogin auth=DQAAAPcAAADuLXTWDRzuAKF6AXZLpYjCG4AaxhLBpjeja9IwVxn42ChS3NlF-mOKgAfJbvjJPTYX4PM_jXtcyWQVmhYRVmHYjD2Q7mIVvcEoi0aiG3gF8ZXhqfmVi6i3rn1KSM6x2uQcqugHnmWNjd2SJUIqbnefxyduH0GDnYL6gnbHmagWD8bhqIneYN8JutZBV9zUToXsF3RaR7fL4iBDPqaWJNht0vkzwl-I3lGzE4FjVd6HwEQSZWS8qVMAFLepCH0CFqvIBn5GjTzj9FeDOoCTkz5epZqrL79sSlPguUboobx2gApRa8ymLWHEbm8xOKPei9Dxq1vtcdJ2qD9qL8s3uZ4w
      Content-Type:
      - application/atom+xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8
      Gdata-Version:
      - '1.0'
      Last-Modified:
      - Thu, 28 Mar 2013 18:26:30 GMT
    body:
      encoding: US-ASCII
      string: <?xml version='1.0' encoding='UTF-8'?><feed xmlns='http://www.w3.org/2005/Atom'
        xmlns:openSearch='http://a9.com/-/spec/opensearchrss/1.0/' xmlns:apps='http://schemas.google.com/apps/2006'><id>https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME></id><updated>2013-03-28T18:26:30.134Z</updated><link
        rel='http://schemas.google.com/g/2005#feed' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>'/><link
        rel='http://schemas.google.com/g/2005#post' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>'/><link
        rel='self' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>'/><openSearch:startIndex>1</openSearch:startIndex><entry><id>https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/123456</id><updated>2013-03-28T18:26:30.134Z</updated><link
        rel='self' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/123456'/><link
        rel='edit' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/<GAPPS_DOMAIN_NAME>/123456'/><apps:property
        name='resourceId' value='123456'/><apps:property name='resourceCommonName'
        value='Fortress of evil'/><apps:property name='resourceEmail' value='<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com'/><apps:property
        name='resourceDescription' value='Where evil things are done'/><apps:property
        name='resourceType' value='Meeting Room'/></entry></feed>
  recorded_at: Thu, 28 Mar 2013 18:26:30 GMT
- request:
    method: post
    uri: https://www.googleapis.com/calendar/v3/calendars/<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com/events
    body:
      encoding: US-ASCII
      string: ! '{"kind":"calendar#event","start":{"date":"2020-01-07","timeZone":"Europe/London"},"end":{"date":"2020-01-07","timeZone":"Europe/London"},"description":"Planning
        yet more evil","attendees":[{"email":"<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com"}]}'
    headers:
      Authorization:
      - OAuth 1/ea49rrjH4Kpd8xpXi2EDafbFiEQNuFFN0vbroRX-HIQ
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"AqtoNyKo3lU98az21po-fy8rWgE/Z2NhbDAwMDAxMzY0NDk1MTkxOTkwMDAw"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n \"kind\": \"calendar#event\",\n \"etag\": \"\\\"AqtoNyKo3lU98az21po-fy8rWgE/Z2NhbDAwMDAxMzY0NDk1MTkxOTkwMDAw\\\"\",\n
        \"id\": \"k3usja1qgh97c5clbvvi2oma38\",\n \"status\": \"confirmed\",\n \"htmlLink\":
        \"https://www.google.com/calendar/event?eid=azN1c2phMXFnaDk3YzVjbGJ2dmkyb21hMzggZGV2b2RpLm15Z2Jpei5jb21fMzEzMjMzMzQzNTM2QHJlc291cmNlLmNhbGVuZGFyLmdvb2dsZS5jb20\",\n
        \"created\": \"2013-03-28T18:26:31.000Z\",\n \"updated\": \"2013-03-28T18:26:31.990Z\",\n
        \"description\": \"Planning yet more evil\",\n \"creator\": {\n  \"email\":
        \"oditech@<GAPPS_DOMAIN_NAME>\",\n  \"displayName\": \"Stuart Harrison\"\n
        },\n \"organizer\": {\n  \"email\": \"<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com\",\n
        \ \"displayName\": \"Fortress of evil\",\n  \"self\": true\n },\n \"start\":
        {\n  \"date\": \"2020-01-07\"\n },\n \"end\": {\n  \"date\": \"2020-01-07\"\n
        },\n \"iCalUID\": \"k3usja1qgh97c5clbvvi2oma38@google.com\",\n \"sequence\":
        0,\n \"attendees\": [\n  {\n   \"email\": \"<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com\",\n
        \  \"displayName\": \"Fortress of evil\",\n   \"organizer\": true,\n   \"self\":
        true,\n   \"resource\": true,\n   \"responseStatus\": \"needsAction\"\n  }\n
        ],\n \"reminders\": {\n  \"useDefault\": true\n }\n}\n"
  recorded_at: Thu, 28 Mar 2013 18:26:32 GMT
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/calendars/<GAPPS_DOMAIN_NAME>_313233343536@resource.calendar.google.com/events?timeZone=Europe/London
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 1/ea49rrjH4Kpd8xpXi2EDafbFiEQNuFFN0vbroRX-HIQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"AqtoNyKo3lU98az21po-fy8rWgE/irwzH1CHxaeNrCilv_U0vgY-XDY"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n \"kind\": \"calendar#events\",\n \"etag\": \"\\\"AqtoNyKo3lU98az21po-fy8rWgE/irwzH1CHxaeNrCilv_U0vgY-XDY\\\"\",\n
        \"summary\": \"Fortress of evil\",\n \"updated\": \"2013-03-28T18:26:32.338Z\",\n
        \"timeZone\": \"America/Los_Angeles\",\n \"items\": [\n  {\n   \"kind\": \"calendar#event\",\n
        \  \"etag\": \"\\\"AqtoNyKo3lU98az21po-fy8rWgE/Z2NhbDAwMDAxMzY0NDk1MTkxOTkwMDAw\\\"\",\n
        \  \"id\": \"k3usja1qgh97c5clbvvi2oma38\",\n   \"status\": \"confirmed\",\n
        \  \"htmlLink\": \"https://www.google.com/calendar/event?eid=azN1c2phMXFnaDk3YzVjbGJ2dmkyb21hMzggZGV2b2RpLm15Z2Jpei5jb21fMzEzMjMzMzQzNTM2QHJlc291cmNlLmNhbGVuZGFyLmdvb2dsZS5jb20\",\n
        \  \"created\": \"2013-03-28T18:26:31.000Z\",\n   \"updated\": \"2013-03-28T1[...]
